<app-header></app-header>


<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Change Password</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#">Dashboard</a> <span> Change Password</span></div>
      </div>
    </div>

  </div>
</div>
<!-- Page Title End -->


<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
          <li ><a [routerLink]="['/store', SessionstoreName]"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Visit my Store</a></li>
          <li ><a [routerLink]="['/select-category']"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Post an Ad</a></li>
          <li ><a [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>

          <li><a [routerLink]="['/pending-ad']"><i class="fa fa-check" aria-hidden="true"></i> My Pending Ads</a></li>
          <li ><a [routerLink]="['/active-ad']"><i class="fa fa-check-square" aria-hidden="true"></i> My Active Ads</a></li>

          <li><a [routerLink]="['/my-bids']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li><a [routerLink]="['/seller-purchasing']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchases</a></li>
          <li class="active"><a [routerLink]="['/manage-coupons']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Manage Coupons</a></li>

          <li><a [routerLink]="['/seller-user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li><a [routerLink]="['/seller-setting']"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>

          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>

      </div>

      <form role="form" class="login-form">

        <div class="col-md-9 col-sm-8">


          <div class="userccount">
            <h5>Generate Coupons</h5>
            <div *ngIf="Error"  class="alert alert-danger">
              <strong>Error </strong> While Creating Coupons.
            </div>

            <div *ngIf="Waitcall" class="alert  alert-info">
              <p class="">
                <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>

              </p>
            </div>
            <div *ngIf="Right" class="alert alert-success">
              <strong>Coupons Created Successfully </strong>
            </div>
            <!-- form -->
            <div class="formrow">
              <label  style="color: black" class="help-block">Select Coupons Qty</label>
              <select [(ngModel)]="model.Qty" #Qty="ngModel"  class="col-md-push-6" name="Qty" style="height: 45px; font-size: 14px; color: black; line-height: 20px; border: 2px #f1f1f1 solid !important;"  required>
                <option value="5" selected>5</option>
                <option value="7">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </div>
            <div class="formrow">
              <label  style="color: black" class="help-block">Select Discount %</label>
              <select [(ngModel)]="model.Discount" #Discount="ngModel"    class="col-md-push-6" name="Discount" style="height: 45px; font-size: 14px; color: black; line-height: 20px; border: 2px #f1f1f1 solid !important;" required >
                <option value="5" selected>5%</option>
                <option value="10">10%</option>
                <option value="15">15%</option>
                <option value="20">20%</option>
                <option value="25">25%</option>
                <option value="30">30%</option>
                <option value="30">40%</option>
                <option value="50">50%</option>
              </select>
            </div>
            <!-- form  end-->
            <div class="formrow">
              <label  style="color: black" class="help-block">Coupons Expiration Time</label>
              <select [(ngModel)]="model.AuctionListing" #AuctionListing="ngModel"  class="col-md-push-6" name="listing" style="height: 45px; font-size: 14px; color: black; line-height: 20px; border: 2px #f1f1f1 solid !important;" required>
                <option value="3" selected>3 Days</option>
                <option value="5">5 Days</option>
                <option value="7">7 Days</option>
                <option value="10">10 Days</option>
                <option value="15">15 Days</option>
                <option value="30">30 Days</option>
              </select>
            </div>

            <br/>

            <div class="formrow">
              <input type="radio" (click)="AllProductsale()" checked value="agree text" name="agree" />
             All Products
              <br/>

            </div>

            <br/>

            <div class="formrow">
              <input type="radio" (click)="AllProductfuc()"  value="agree text" name="agree" />
             Specfic Products
              <br/>
              <br/>
            </div>
            <div *ngIf="Waitcall2" class="alert  alert-info">
              <p class="">
                <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Verifying Product ID ...</span>

              </p>
            </div>
            <div *ngIf="Error2"  class="alert alert-danger">
              <strong>Error </strong> This product not belong to your store
            </div>
            <div *ngIf="Right2" class="alert alert-success">
              <strong>Product Verified </strong>
            </div>
            <div *ngIf="AllProduct === true" class="formpanel">
              <label  style="color: black" class="help-block">Enter Product ID</label>
              <input type="text"  [(ngModel)]="model.Product" #Product="ngModel" name="name5" class="form-control" placeholder="Enter Your Product ID">
             <br/>
             <br/>
              <div class="col-xs-5">
              <input style="background: #f23534; color: white" (click)="verifProduct(Product.value)" class="btn" value="Generate Coupons">
              </div>
            </div>


            <div class="formpanel">
              <div class="col-xs-5">

            <input *ngIf="AllProductSale" type="submit" (click)="updatePassword()" class="btn" value="Generate Coupons">
            </div>
            </div>
            <br/>
            <br/>
            <br/>
          </div>
          <br/>
          <div class="main container">
            <div class="row">

              <div class="col-xs-10">
                <div class="page-content checkout-page">
                  <div class="page-title">
                    <h2>Discount Coupons</h2>
                  </div>

                  <!--<h4 class="checkout-sep">Biding History</h4>-->
                  <div class="box-border">
                    <div class="table-responsive">
                      <table class="table table-bordered cart_summary">
                        <thead>
                        <tr>
                          <th>Sr.</th>
                          <th>Discount %</th>
                          <th>Coupons</th>
                          <th>Product ID (If)</th>
                          <th>Time</th>
                          <th>Day</th>

                          <th>Created Date</th>
                          <!--<th>Status</th>-->

                        </tr>
                        </thead>
                        <tbody>

                        <ng-container  *ngFor="let abc of Coupons; let i = index">
                          <tr>
                            <td> {{i+1}} </td>
                            <td>{{ abc.Discount}}%</td>
                            <td>  {{ abc.CouponsCode}}</td>
                            <td>  {{ abc.ProductID}}</td>
                            <td>  {{ abc.Times}}</td>
                            <td>  {{ abc.Day}}</td>

                            <td>  {{ abc.CreatedDate.substr(0, 10 )}} </td>
                            <!--<th>Status</th>-->



                          </tr>
                        </ng-container>
                        </tbody>
                        <tfoot>

                        <tr>


                        </tr>

                        </tfoot>
                      </table>
                    </div>

                  </div>




                </div>

              </div>


            </div>
          </div>
        </div>


      </form>




    </div>
  </div>
</div>


<app-footer></app-footer>

