<app-header></app-header>


<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">Change Password</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<div class="breadCrumb"><a href="#">Dashboard</a> <span> Change Password</span></div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!-- Page Title End -->


<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
          <!-- <li ><a [routerLink]="['/store', SessionstoreName]"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Visit my Store</a></li> -->
          <li ><a [routerLink]="['/store-view']"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Visit my ALL Store</a></li>
          <li ><a [routerLink]="['/select-category']"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add New Product</a></li>
          <li ><a [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i>Seller Dashboard</a></li>
          <li><a [routerLink]="['/seller-product-setting']"><i class="fa fa-cog" aria-hidden="true"></i>Seller Product Setting</a></li>
          <li><a [routerLink]="['/pending-ad']"><i class="fa fa-check" aria-hidden="true"></i> My Pending Ads</a></li>
          <li ><a [routerLink]="['/active-ad']"><i class="fa fa-check-square" aria-hidden="true"></i> My Active Ads</a></li>
          <li><a [routerLink]="['/my-bids']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li><a [routerLink]="['/seller-offer']"><i class="fa fa-laptop" aria-hidden="true"></i> My Offers</a></li>
          <li><a [routerLink]="['/seller-purchasing']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchases</a></li>
          <li><a [routerLink]="['/watch-Product']"><i class="fa fa-list" aria-hidden="true"></i> My Watchlist</a></li>
          <li class="active"><a [routerLink]="['/manage-coupons']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Manage Coupons</a></li>
          <li><a [routerLink]="['/seller-user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li><a [routerLink]="['/seller-setting']"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>
          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
        <div class="adimages"> <a [routerLink]="['/home']"> <img src="assets/assets2/images/large-ad.jpg" alt="google ad"> </a> </div>
      </div>


      <div class="col-md-9 col-sm-8">
        <div class="myads">
          <h3>My Products</h3>
          <br/>
          <br/>
          <ul class="searchList">
            <!-- ad start -->
            <ng-container *ngFor="let phoneProducts of ActiveProduct.results; let item = index">
              <li>
                <div class="row">
                  <div class="col-md-2 col-sm-4">
                    <div class="adimg"><img src="{{ phoneProducts.Pic  }}" alt="Ad Name"></div>
                  </div>
                  <div class="col-md-10 col-sm-8">
                    <div class="jobinfo">
                      <div class="row">
                        <div class="col-md-8 col-sm-7">
                          <h3><a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }" >{{ phoneProducts.P_Title }}</a></h3>
                          <div class="cateName"> <a href="#.">{{ phoneProducts.Cat_Name }}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#.">{{ phoneProducts.Sub_Cat_Name }}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#.">{{ phoneProducts.Sub_Sub_Cat_Name }}</a> </div>
                          <!--<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>-->
                          <div class="clearfix"></div>
                          <p>{{phoneProducts.P_Des}}</p>
                          <div class="listbtn"><a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">View Details</a></div>
                          <div class="listbtn"><a (click)="SaveProduct(phoneProducts.ProductID, item)" data-toggle="modal" data-target="#myModal" >Add Coupon on this Product</a></div>
                        </div>
                        <div class="col-md-4 col-sm-5 text-right">
                          <div *ngIf="phoneProducts.Auction === true " class="adprice">Rs {{ phoneProducts.MaxBidPrice | number:'.0-0'}}</div>
                          <div *ngIf="phoneProducts.Auction === false " class="adprice">Rs {{ phoneProducts.FixedPrice | number:'.0-0'}}</div>
                          <!--<a href="#" class="editad"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this ad</a> <span class="pendingad">Pending</span> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ng-container>
 
            <!-- ad end -->


            <!-- ad end -->
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<!--<app-footer></app-footer>-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="font-size: 30px !important;" class="modal-title" id="myModalLabel">Add Product Coupon</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="login-form">

          <!--<div class="col-md-9 col-sm-8">-->


            <div class="userccount">
              <h5>Generate Coupons</h5>
              <!-- form -->
              <div class="formrow">
                <label  style="color: black" class="help-block">Enter Coupon Name</label>
                <input type="text" [(ngModel)]="model.cname" #cname="ngModel" name="cname" style="height: 45px; font-size: 20px;width: 50%; color: black; line-height: 20px;padding: 0px 10px; border: 1px solid gray !important;" required>
              </div>
              <div class="formrow">
                <label  style="color: black" class="help-block">Select Coupons Qty</label>
                <select [(ngModel)]="model.Qty" #Qty="ngModel"  name="Qty" style="height: 45px; font-size: 20px; color: black;padding: 0px 10px; line-height: 20px; border: 1px solid gray !important;"  required>
                  <option value="5" selected>5</option>
                  <option value="7">7</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>
              <div class="formrow">
                <label  style="color: black" class="help-block">Select Discount %</label>
                <select [(ngModel)]="model.Discount" #Discount="ngModel" name="Discount" style="height: 45px; font-size: 20px; color: black;padding: 0px 10px; line-height: 20px; border: 1px solid gray !important;" required >
                  <option value="5" selected>5%</option>
                  <option value="10">10%</option>
                  <option value="15">15%</option>
                  <option value="20">20%</option>
                  <option value="25">25%</option>
                  <option value="30">30%</option>
                  <option value="30">40%</option>
                  <option value="50">50%</option>
                </select>
              </div>
              <!-- form  end-->
              <div class="formrow">
                <label  style="color: black" class="help-block">Coupons Expiration Time</label>
                <select [(ngModel)]="model.AuctionListing" #AuctionListing="ngModel" name="listing" style="height: 45px; font-size: 20px; color: black;padding: 0px 10px; line-height: 20px; border: 1px solid gray !important;" required>
                  <option value="3" selected>3 Days</option>
                  <option value="5">5 Days</option>
                  <option value="7">7 Days</option>
                  <option value="10">10 Days</option>
                  <option value="15">15 Days</option>
                  <option value="30">30 Days</option>
                </select>
              </div>

              <br/>
            </div>
            <br/>
          <!--</div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="verifProduct()" >Generate Coupons</button>
      </div>
    </div>
  </div>
</div>
