
<app-header></app-header>
<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">Forgot Password</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<div class="breadCrumb"><a href="#">Home</a> / <span >Forgot Password</span></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Page Title End -->

<div class="listpgWraper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="userccount">
          <h5 style="color:#ed2424; ">Enter New Password</h5>
          <div *ngIf="is_set"  class="alert alert-danger">
            <ul>
            <li *ngFor="let text of searchQuery.new_password2">  {{text}}</li>
            </ul>
          </div>
          <div *ngIf="is_match_error"  class="alert alert-danger">
            <ul>
            <li>Password don't match</li>
            </ul>
          </div>
          <!--<div *ngIf="is_set"  class="alert alert-danger">-->
            <!--<ul>-->
              <!--<li *ngFor="let text of searchQuery.new_password2">  {{text}}</li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div *ngIf="is_set"  class="alert alert-danger">-->
            <!--<ul>-->
              <!--<li *ngFor="let text of searchQuery.new_password2">  {{text}}</li>-->
            <!--</ul>-->
          <!--</div>-->


          <!-- form -->
          <div class="formpanel">
            <div class="formrow">
              <input type="password" ng-Model="model.pass1" #pass1 class="form-control" placeholder="Enter New Password">
            </div>
            <div class="formrow">
              <input type="password" ng-Model="model.pass2" #pass2 class="form-control" placeholder="Repeat Password">
            </div>
            <input type="submit" (click)="UPdatePassword(pass1.value, pass2.value)" class="btn" value="Sumbit">
          </div>
          <!-- form  end-->

        </div>
      </div>
    </div>
  </div>
</div>

<!--<app-footer></app-footer>-->
