<app-header></app-header>


<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">Post Ad</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<div class="breadCrumb"><a href="#.">Home</a> / <span>Post Ad</span></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- Page Title End -->

<div class="listpgWraper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="userccount">
          <div class="">
            <form role="form" class="login-form" (ngSubmit)="f.form.valid && save('fsd','sfs')"  #f="ngForm" novalidate>

            <div class="">
              <label class="control-label label-set">Product Type: </label> <span style="color: #CC0000;"> <u>{{ CatName }}</u>  </span> <a class="label-set" [routerLink]="['/select-category']">Change</a>
            </div>
            <!-- Ad Information -->

            <h5 class="margin-t-b-5">Ad Information</h5>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !Title.valid }">

                    <label class="help-block">Title</label>
                    <div *ngIf="f.submitted && !Title.valid" class="help-block">Title required</div>
                    <input type="text" class="form-control" maxlength="90" name="Title" placeholder="Product Title" [(ngModel)]="model.Title" #Title="ngModel"  required>

                  </div>
                  <span class="help-block">A Good title needs Maximum 90 characters. </span>
                  <!--<input type="text" name="jobtitle" class="form-control" placeholder="Ad Title ">-->
                </div>
              </div>
              <div class="col-lg-4" *ngIf="Vendor == true" >
              <div class="formrow">
                  <!-- <mat-select (change)="checked17($event,i,name)" value="name" required [(ngModel)]="name" name="name">

                      <mat-option  (click)="checked17($event,i,name)"  >ALL</mat-option>
                    <mat-option *ngFor="let data of title" [value]="data.title">
                      {{data.title}}
  
                    </mat-option>
  
  && StoreName.valid
                  </mat-select> -->


                  <label  class="help-block">Select Your Store Name</label>
                  <div *ngIf="f.submitted " class="help-block">Select Your StoreName</div>
                  <select [(ngModel)]="model.StoreName"  class="col-md-push-6" name="StoreName" (change)="storess()" >
                    <option *ngFor="let data of StoreNamess" [value]="data.StoreName"      >
                      {{data.StoreName}}
                    </option>
                    <!-- <option value="7">7 Days</option>
                    <option value="5">5 Days</option>
                    <option value="3">3 Days</option> -->
                  </select>
                
              </div>
              </div>
              <div class="col-lg-4" hidden="true">
                  <div class="formrow">
                  <label  class="help-block"> Store Name</label>
                  <input hidden="true" type="text" class="form-control"  name="store" placeholder="Product Title" [(ngModel)]="model.StoreName"   required>
                  </div>
              </div>
              <div  class="col-md-4">
                <div class="formrow">

                  <label  class="help-block">Product condition</label>
                  <select   [(ngModel)]="model.condition" class="col-md-push-6" name="Subcat"  >
                    <option value="New" selected>New</option>
                    <option value="Used">Used</option>


                  </select>

                </div>

              </div>


              <div  class="col-md-4">
                <div class="formrow">

                    <label  class="help-block">Select Sub Catgory</label>
                    <select   [(ngModel)]="model.subcat" class="col-md-push-6" name="Subcat"  >
                      <optgroup *ngFor="let item of GetAllSubCat"  label="{{ item.Sub_Cat_Name}}">
                        <ng-container *ngFor="let item_sub of GetAllSubSubCat">
                        <option  *ngIf="item.Sub_Cat_Name == item_sub.Sub_Cat_ID" [value]="item.Sub_Cat_Name +'!' +item.id+ '!'+item_sub.Sub_Sub_Cat_Name+ '!' + item_sub.id"> {{ item_sub.Sub_Sub_Cat_Name }}</option>
                        </ng-container>
                      </optgroup>



                    </select>

                </div>

              </div>

              <div class="col-md-12">
                <div class="formrow">
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Addetail.valid }">

                    <label class="help-block">Ad Detail*</label>
                    <div *ngIf="f.submitted && !Addetail.valid" class="help-block">Ad-details required</div>
                    <textarea rows="8" cols="60" style="font-size: 20px !important;" maxlength="2000" class="form-control" name="Addetail" placeholder="Ad Detail" [(ngModel)]="model.Addetail" #Addetail="ngModel"  required></textarea>
                </div>
                </div>
              </div>

              <!--<div class="col-md-6">-->
                <!--<div class="formrow">-->
                  <!--<select class="form-control" name="msalary">-->
                    <!--<option>Select Sub Catgory</option>-->
                    <!--<option>Vehicles</option>-->
                    <!--<option>Mobiles</option>-->
                    <!--<option>Furniture</option>-->
                    <!--<option>Jobs</option>-->
                    <!--<option>Real Estates</option>-->
                  <!--</select>-->
                <!--</div>-->
              <!--</div>-->


              <div class="col-md-12">
                <div class="formrow">
                  <!--<image-upload [style]="customStyle" [max]="3" [extensions]="['jpeg','png']" (removed)="onRemoved($event)" (uploadFinished)="onUploadFinished($event)" (uploadStateChanged)="onUploadStateChanged($event)">-->
                  <!--</image-upload>-->
                  <div class="uploadphotobx"> <i class="fa fa-upload" aria-hidden="true"></i>
                    <h4>Upload Product photos</h4>
                    <p>It must be a head-shot photo</p>
                    <label class="uploadBox">Click to Upload Cover Photos
                      <input type="file" #fileImportInput id="file1" name="file" class="file" data-preview-file-type="text" (change)="onChange($event.target.files)" multiple accept="image/*">
                    </label><br>
                  </div>

                </div>
              </div>

              <div class="col-md-12 uploadimg">
                  <ng-container *ngFor="let img of url; let i=index">
                    <div class="img-box">
                        <i class="fas fa-times" (click)="removepic(i)"></i>
                      <!-- <i class="fa fa-close" (click)="removepic(i)" style="cursor: pointer"></i> -->
                      <img [src]="img">
                    </div>
                    <!--<input type="submit" value="Delete" (click)="removepic(i)">-->
                  </ng-container>
              </div>

              <div class="col-md-12">


                 <div class="userbtns">
                    <ul class="nav nav-tabs">
                      <li (click)="EnableAuction()" class="active" style="width: 50%;"><a data-toggle="tab" href="#wsell">Auction</a></li>
                      <li (click)="EnableFixd()" style="width: 50%;"><a data-toggle="tab" href="#wbuy">Fixed Price</a></li>
                    </ul>
                  </div>
                  <div class="tab-content">
                    <div id="wsell" class="formpanel tab-pane fade in active">

                      
                    <div class="formrow col-md-6">
                      <input type="checkbox" (click)="AddReservePriceFun()" value="agree text" name="agree" />
                      Add a Reserve Price
                    </div>
                    <div *ngIf="ReservePrice == true" class="formrow">
                      <input type="number" [(ngModel)]="model.ReservePrice" name="name3" class="form-control" placeholder="Reserve Price">
                    </div>
                    <div  class="formrow col-md-6">
                      <input type="checkbox" name="namead"  [(ngModel)]="model.product_ad_active"  (change)="checked3($event,i)" placeholder="product_ad_active">
                   If you want active ad about this Product
                    </div>

                  
                    <!-- <div *ngIf="ReservePrice == true" class="formrow">
                      <input type="number" [(ngModel)]="model.ReservePrice" name="name3" class="form-control" placeholder="Reserve Price">
                    </div> -->
                      <div class="formrow">
                        <label  class="col-md-4 help-block">Select Your Listing</label>
                        <select [(ngModel)]="model.AuctionListing"  class="col-md-8" name="listing"  >
                          <option value="10" selected>10 Days</option>
                          <option value="7">7 Days</option>
                          <option value="5">5 Days</option>
                          <option value="3">3 Days</option>
                        </select>
                      </div>
                      <div class="formrow col-md-4">

                        <input type="number" name="name1" class="form-control" placeholder="Starting Price" [(ngModel)]="model.Starting_Price" #Starting_Price="ngModel" >

                      </div>

                      <div class="formrow col-md-4">

                        <input type="date" name="date1" class="form-control" placeholder="Starting Date" [(ngModel)]="model.StartbidTime" #StartbidTime="ngModel" >

                      </div>
                      <div class="formrow col-md-4">

                        <input type="date" name="date2" class="form-control" placeholder=" Date" [(ngModel)]="model.EndbidTime" #EndbidTime="ngModel" >

                      </div>
 


                    </div>

                    <!--- 2nd tab --->

                    <div id="wbuy" class="formpanel tab-pane fade in">


                      <div class="formrow">


                          <input type="number" [(ngModel)]="model.FixedPrice" name="name4" class="form-control" placeholder="Price">
                      </div>

                      <div class="formrow">
                        <input type="checkbox" [(ngModel)]="model.AddBestOffer" value="agree text" name="agree" />
                        Accept Offers?
                      </div>
                      <!--<div *ngIf="Addbestoffer == true" class="formrow">-->
                        <!--<input type="radio" [(ngModel)]="model.AddBestOffer" name="name5" class="form-control" placeholder="Offer">-->
                      <!--</div>-->

                      <div class="formrow">
                        <input type="number" [(ngModel)]="model.Quantity" name="name6" class="form-control" placeholder="Quantity">
                    </div>




                    </div>
                  </div>



              </div>



            </div>
            <br>
              <ng-container *ngIf="ShowPictureError">
                <div  class="alert alert-danger">
                  <strong>Upload atleast 1 Product Photo </strong>
                </div>

              </ng-container>
              <div *ngIf="Waitcall" class="alert  alert-info">
                <p class="">
                  <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>

                </p>
              </div>
            <input type="submit" class="btn-black" value="Post An Ad">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<app-footer></app-footer>-->






