/*.search-outer {*/
  /*z-index: 99999;*/
  /*position: fixed;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0;*/
  /*padding: 100px 60px 45px;*/
  /*transition: 0.3s ease all 0s;*/
/*}*/
.search-outer {
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 100px 60px 45px;
  /*opacity: 0;*/
  /*visibility: hidden;*/
  transition: 0.3s ease all 0s;
}
.search-holder {
  border: 1px solid #777;
  border-radius: 40px;
  /*padding: 0px 0px;*/
  margin: 0 auto;
  -webkit-box-shadow: 0px 0 10px 0 #ccc inset;
  box-shadow: 0px 0 10px 0 #ccc inset;
  background: #fefefe;
  position: relative;
  right: 25%;
  width: 150%;
}
#iconClose {
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: -45px;
  color: #f80000;
}
.search-holder input[type="search"] {
  font-size: 70px;
  line-height: 60px;
  width: 100%;
  border: 0;
  background: #333 !important;
  border-radius: 40px;
  color: white;
  font-weight: 900;
  text-align: center;
}
.search-holder input[type="search"]::-webkit-input-placeholder,
.search-holder input[type="search"]::-moz-placeholder,
.search-holder input[type="search"]::placeholder,
.search-holder input[type="search"]:-ms-input-placeholder {
  font-size: 50px !important;
}
.search-outer.active {
  opacity: 1;
  visibility: visible;
}


/*.navbar-default .navbar-nav > li.dropdown:hover > a,*/
/*.navbar-default .navbar-nav > li.dropdown:hover > a:hover,*/
/*.navbar-default .navbar-nav > li.dropdown:hover > a:focus {*/
  /*background-color: rgb(231, 231, 231);*/
  /*color: rgb(85, 85, 85);*/
/*}*/
/*li.dropdown:hover > .dropdown-menu {*/
  /*display: block;*/
/*}*/
.dropdown-menu > li > a:hover i{color: white}
.shop-cart a{color: red}




.product-slider { padding: 45px; }

.product-slider #carousel { border: 4px solid #1089c0; margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 45px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; float: right }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }
