
<app-header></app-header>
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<!-- Main Container -->
<section class="main-container col1-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-12">

        <div id="contact" class="page-content page-contact">
          <div class="page-title">
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6" id="contact_form_map">
              <h3 class="page-subheading">Let's get in touch</h3>
              <p>Dhaar provides optimal solutions to the customers online shopping spree. Our customer service agents are available 24/7 to provide you instant support.</p><br>
              <p>Store our contact details for faster services.</p>
              <br/>
              <br>
              <h3 class="page-subheading">Visit Our Social Media Pages</h3>
              <div class="social-contact">
                <ul class="inline-mode">
                  <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                  <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-network googleplus"><a title="Connect us on Pinterest" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
              <br/>
              <br>
              <ul class="store_info">
                <li><i class="fa fa-home"></i>AL-Hafeez Heights 13th Floor, 65 D<p style="margin-left: 28px">Ghalib Road, Gulberg lll</p><p style="margin-left: 28px">Lahore, Pakistan</p></li>
                <li><i class="fa fa-phone"></i><span>+92 (42) 364-00960</span></li>
                <li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:contact@dhaar.pk">contact@dhaar.pk</a></span></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h3 class="page-subheading">Make an enquiry</h3>
              <form role="form" #f="ngForm" novalidate>

                <div class="formpanel">
                  <div class="formrow">
                    <label>Name</label>
                      <input type="text" class="form-control input-sm" name="name" [(ngModel)]="model.name"  #name="ngModel" required>
                  </div>
                  <div class="formrow">
                    <label>Email</label>
                      <input type="email" class="form-control input-sm" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="model.email"  #email="ngModel" required>
                  </div>
                  <div class="formrow">
                    <label>Mobile</label>
                      <input type="text" class="form-control input-sm" name="mobile" [(ngModel)]="model.mobile"  #mobile="ngModel" required>
                  </div>
                  <div class="formrow">
                    <label>Message</label>
                      <textarea class="form-control input-sm" name="message" [(ngModel)]="model.message"  #message="ngModel" required></textarea>
                  </div>
                  <button (click)="contact_log()" class="button"><i class="fa fa-send"></i>&nbsp; <span>Send Message</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- Main Container End -->
<!-- our clients Slider -->

<!--<app-footer></app-footer>-->
