<app-header></app-header>


<a href="#content" id="top" class="sr-only">Skip to content</a>

<!-- ======== @Region: #header ======== -->
<!-- ======== @Region: #content ======== -->

<section id="contact">
  <div class="section-content">
    <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
    <p>If you feel any kind of queries Please feel free to contact with Us. Just leave a Message, Our customer support person will contact you</p>
  </div>
  <div class="contact-section">
    <div class="container">
      <form name="form" role="form" (ngSubmit)="f.form.valid && captcha && contact_log(name.value, email.value,telephone.value, message.value)" id="contact_form"
            #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-6 form-line">
            <div class="form-group">
              <label>Your name</label>
              <input type="text" class="form-control" name="name" placeholder=" Enter Your Name"  [(ngModel)]="model.name" #Name="ngModel" #name
                     required >
            </div>
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" name="email" placeholder=" Enter Your Email" [(ngModel)]="model.email" #Email="ngModel" #email
                     required >
            </div>
            <div class="form-group">
              <label>Mobile No.</label>
              <input type="tel" class="form-control" name="telephone" placeholder=" Enter Your Mobile No." [(ngModel)]="model.telephone" #Telephone="ngModel" #telephone
              required >
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !captcha}">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcMeE4UAAAAAORPbOfwjGczzxsz843f24BA92IN"></re-captcha>
              <div *ngIf="f.submitted && !captcha" class="help-block">ReCaptcha is required</div>
            </div>
            </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> Message</label>
              <textarea class="form-control" name="message" placeholder="Enter Your Message" [(ngModel)]="model.message" #Message="ngModel" #message
                        required > </textarea>
            </div>
            <div>

              <button type="submit" class="btn-order">Send Message</button>
              <!--<i class="fa fa-paper-plane" aria-hidden="true"></i>-->
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
</section>

<section id="contact-map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <iframe width="100%" height="350"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_-lLvVkEGTkRrW7cA6sQDQI&key=AIzaSyAJraHLW7X1VjgYXaicDSHmwdJMza1Vbfw" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <div class="contact-address">
          <h2>HeadQuarter</h2>
          <h5 style="line-height: 30px;">Al-Hafeez Heights 13th Floor,<br>
            65-D Ghalib Road, Gulberg III <br>
            Lahore, Pakistan</h5>
          <h2>Establish Contact</h2>

          <h5 class="phone-contact">
            <i class="fa fa-envelope-o"></i><span> Email: </span> Contact@Dhaar.com<br>
            <i class="fa fa-phone"></i> +92 (42) 364-00960<br>
            <!--<i class="fa fa-fax"></i> <span>Fax: </span>            +1 (469) 250-6600-->
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== @Region: #content-below ======== -->
