
<!--<app-header></app-header>-->
<!--&lt;!&ndash;<div class="pageTitle">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-md-6 col-sm-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<h1 class="page-heading">Contact Us</h1>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash; Main Container &ndash;&gt;-->
<!--<section class="main-container col1-layout">-->
  <!--<div class="main container">-->
    <!--<div class="row">-->
      <!--<section class="col-main col-sm-12">-->

        <!--<div id="contact" class="page-content page-contact">-->
          <!--<div class="page-title">-->
            <!--<h1 class="page-heading">Contact Us</h1>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-xs-12 col-sm-6" id="contact_form_map">-->
              <!--<h3 class="page-subheading">Let's get in touch</h3>-->
              <!--<p>Dhaar provides optimal solutions to the customers online shopping spree. Our customer service agents are available 24/7 to provide you instant support.</p><br>-->
              <!--<p>Store our contact details for faster services.</p>-->
              <!--<br/>-->
              <!--<br>-->
              <!--<h3 class="page-subheading">Visit Our Social Media Pages</h3>-->
              <!--<div class="social-contact">-->
                <!--<ul class="inline-mode">-->
                  <!--<li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>-->
                  <!--<li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>-->
                  <!--<li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>-->
                  <!--<li class="social-network googleplus"><a title="Connect us on Pinterest" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>-->
                <!--</ul>-->
              <!--</div>-->
              <!--<br/>-->
              <!--<br>-->
              <!--<ul class="store_info">-->
                <!--<li><i class="fa fa-home"></i>AL-Hafeez Heights 13th Floor, 65 D<p style="margin-left: 28px">Ghalib Road, Gulberg lll</p><p style="margin-left: 28px">Lahore, Pakistan</p></li>-->
                <!--<li><i class="fa fa-phone"></i><span>+92 (42) 364-00960</span></li>-->
                <!--<li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:contact@dhaar.pk">contact@dhaar.pk</a></span></li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<h3 class="page-subheading">Make an enquiry</h3>-->
              <!--&lt;!&ndash;<form role="form" #f="ngForm" novalidate>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="formpanel">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="formrow">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>Name</label>&ndash;&gt;-->
                      <!--&lt;!&ndash;<input type="text" class="form-control input-sm" name="name" [(ngModel)]="model.name"  #name="ngModel" required>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="formrow">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>Email</label>&ndash;&gt;-->
                      <!--&lt;!&ndash;<input type="email" class="form-control input-sm" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="model.email"  #email="ngModel" required>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="formrow">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>Mobile</label>&ndash;&gt;-->
                      <!--&lt;!&ndash;<input type="text" class="form-control input-sm" name="mobile" [(ngModel)]="model.mobile"  #mobile="ngModel" required>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="formrow">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label>Message</label>&ndash;&gt;-->
                      <!--&lt;!&ndash;<textarea class="form-control input-sm" name="message" [(ngModel)]="model.message"  #message="ngModel" required></textarea>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<button (click)="contact_log()" class="button"><i class="fa fa-send"></i>&nbsp; <span>Send Message</span></button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</form>&ndash;&gt;-->

              <!--<form role="form" class="login-form" id="contact_form" (ngSubmit)="f.form.valid && contact_log(name.value, email.value,phone.value,message.value)" #f="ngForm" novalidate>-->

                <!--<div class="formpanel">-->
                  <!--<div class="formrow">-->
                    <!--<div class="form-group label-overlay">-->
                      <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">-->
                        <!--<input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="model.name" #name="ngModel" required>-->
                        <!--<div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>-->
                      <!--</div>-->

                    <!--</div>&lt;!&ndash; End .form-group &ndash;&gt;-->
                  <!--</div>-->
                  <!--<div class="formrow">-->
                    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">-->
                      <!--<input type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" name="email" [(ngModel)]="model.email"  #email="ngModel" required>-->
                      <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Valid Email is required</div>-->
                    <!--</div>-->

                  <!--</div>-->
                  <!--<div class="formrow">-->
                    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">-->
                      <!--<input type="text" class="form-control" placeholder="Mobile" name="phone" [(ngModel)]="model.phone"  #phone="ngModel" required>-->
                      <!--<div *ngIf="f.submitted && !phone.valid" class="help-block">Password is required</div>-->
                    <!--</div>-->

                  <!--</div>-->
                  <!--<div class="formrow">-->
                    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !message.valid }">-->
                      <!--<textarea class="form-control" placeholder="Message" name="message" [(ngModel)]="model.message"  #message="ngModel" required></textarea>-->
                      <!--<div *ngIf="f.submitted && !message.valid" class="help-block">Password is required</div>-->
                    <!--</div>-->

                  <!--</div>-->
                  <!--<button type="submit" class="button"><i class="fa fa-send"></i>&nbsp; <span>Send Message</span></button>-->
                  <!--&lt;!&ndash;<div *ngIf="Waitcall" class="alert  alert-info">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="">&ndash;&gt;-->
                      <!--&lt;!&ndash;<span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>&ndash;&gt;-->

                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->

                  <!--&lt;!&ndash;<input type="submit" class="btn" value="Login">&ndash;&gt;-->

                <!--</div>-->
              <!--</form>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash; Main Container End &ndash;&gt;-->
<!--&lt;!&ndash; our clients Slider &ndash;&gt;-->

<!--&lt;!&ndash;<app-footer></app-footer>&ndash;&gt;-->

<app-header></app-header>


<a href="#content" id="top" class="sr-only">Skip to content</a>

<!-- ======== @Region: #header ======== -->
<!-- ======== @Region: #content ======== -->

<section id="contact">
  <div class="section-content">
    <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
    <p>If you feel any kind of queries Please feel free to contact with Us. Just leave a Message, Our customer support person will contact you</p>
  </div>
  <div class="contact-section">
    <div class="container">
      <form name="form" role="form" (ngSubmit)="f.form.valid && captcha && contact_log(name.value, email.value,telephone.value, message.value)" id="contact_form"
            #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-6 form-line">
            <div class="form-group">
              <label>Your name</label>
              <input type="text" class="form-control" name="name" placeholder=" Enter Your Name"  [(ngModel)]="model.name" #Name="ngModel" #name
                     required >
            </div>
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" name="email" placeholder=" Enter Your Email" [(ngModel)]="model.email" #Email="ngModel" #email
                     required >
            </div>
            <div class="form-group">
              <label>Mobile No.</label>
              <input type="tel" class="form-control" name="telephone" placeholder=" Enter Your Mobile No." [(ngModel)]="model.telephone" #Telephone="ngModel" #telephone
              required >
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !captcha}">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcMeE4UAAAAAORPbOfwjGczzxsz843f24BA92IN"></re-captcha>
              <div *ngIf="f.submitted && !captcha" class="help-block">ReCaptcha is required</div>
            </div>
            </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> Message</label>
              <textarea class="form-control" name="message" placeholder="Enter Your Message" [(ngModel)]="model.message" #Message="ngModel" #message
                        required > </textarea>
            </div>
            <div>

              <button type="submit" class="btn btn-default submit">Send Message</button>
              <!--<i class="fa fa-paper-plane" aria-hidden="true"></i>-->
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
</section>

<section id="contact-map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <iframe width="100%" height="350"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_-lLvVkEGTkRrW7cA6sQDQI&key=AIzaSyAJraHLW7X1VjgYXaicDSHmwdJMza1Vbfw" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <div class="contact-address">
          <h1>HEADQUARTERS</h1>
          <h5 style="line-height: 30px;">Al-Hafeez Heights 13th Floor,<br>
            65-D Ghalib Road, Gulberg III <br>
            Lahore, Pakistan</h5>
          <h1>ESTABLISH CONTACT</h1>

          <h5 class="phone-contact">
            <br/>
            <i class="fa fa-envelope-o"></i><span> Email: </span>    contact AT DHAAR DOT com<br>
            <br/>
            <i class="fa fa-phone"></i> +92 (42) 364-00960<br>
            <br/>
            <!--<i class="fa fa-fax"></i> <span>Fax: </span>            +1 (469) 250-6600-->
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== @Region: #content-below ======== -->
