<app-header></app-header>

<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">Dashboard</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->


        <!--<div class="breadCrumb ">-->
          <!--<ng-container *ngIf="GetUSerDOne !== null">-->
            <!--<a [routerLink]="['/user-detail']">-->
            <!--<img *ngIf="GetUSerDOne['Pic'] === ''" class="breadimg" src="assets/images/defaultprofile.jpg" alt=""  width="70px" height="70px">-->
            <!--<img *ngIf="GetUSerDOne['Pic'] !== ''"  class="breadimg" src="{{PicServrUrl + GetUSerDOne['Pic']}}" alt=""  width="70px" height="70px">-->
            <!--<br/>-->
           <!--<span *ngIf="ValueRec == true">Welcome {{ GetUSerDOne['Fname']}}</span>-->
            <!--</a>-->
          <!--</ng-container>-->


        <!--</div>-->




      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Page Title End -->

<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
          <li class="active"><a [routerLink]="['/buyer-dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
          <li ><a [routerLink]="['/select-category']"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Add New Product</a></li>
         
          <li><a [routerLink]="['/my-bids-buyer']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li ><a [routerLink]="['/buyer-orders']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchases</a></li>
          <li ><a [routerLink]="['/buyer-offer']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Offers</a></li>
          <li><a [routerLink]="['/buyer-store-registration']"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sell with Dhaar.pk</a></li>
          <li><a [routerLink]="['/my-watch-Product']"><i class="fa fa-list" aria-hidden="true"></i> My Watchlist</a></li>
          <!-- user-shipment -->
          <li><a [routerLink]="['/user-shipment']"><i class="fa fa-user" aria-hidden="true"></i> My Address Book</a></li>
          <li><a [routerLink]="['/user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li><a [routerLink]="['/account-setting']"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>

          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>

        </ul>
        <!--<div class="adimages"> <a [routerLink]="['/home']"> <img src="assets/assets2/images/large-ad.jpg" alt="google ad"> </a> </div>-->
      </div>

      <router-outlet></router-outlet>
       

    </div>
  </div>
</div>


<app-footer></app-footer>
