<app-header></app-header>


<!-- Main Container -->
<div class="main-container col2-left-layout">
  <div class="container">

    <div class="row">
      <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">

        <div class="shop-inner">

          <div class="category-description">
            <div class="slider-items-products">
              <div id="category-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4">
                  <a href="#"><img src="assets/images/cat/{{ CoverPix }}.JPG" alt="banner"></a>
                  <!--<a href="#"><img src="assets/images/cat-img1.jpg" alt="banner"></a>-->
                </div></div></div>

          </div>
          <div class="page-title">
            <h3>{{Subcat}} </h3>
          </div>
          <div class="toolbar">
            <!--<div class="view-mode">-->
            <!--<ul>-->
            <!--<li class="active"> <a href="shop_grid.html"> <i class="fa fa-th-large"></i> </a> </li>-->
            <!--<li> <a href="shop_list.html"> <i class="fa fa-th-list"></i> </a> </li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="sorter">
              <div class="col-lg-8">

                <!--<span (click)="listView()"  onmouseleave="this.style='border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555" >List - <span class="fa fa-list" ></span></span>-->

                <span *ngIf="AllListing" (click)="AllListingFuc()" onmouseleave="this.style='font-size: 15px; border: 1px #555 solid;  background-color:#ed2424; padding: 5px; color: white; cursor:pointer;';"  onmouseover="this.style='font-size: 15px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 15px; border: 1px #555 solid;  padding: 5px; background-color:#ed2424; cursor:pointer; color: white; font-family: Hind,sans-serif;" >All Listings</span>
                <span *ngIf="!AllListing" (click)="AllListingFuc()" onmouseleave="this.style='font-size: 15px; border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='font-size: 15px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 15px; border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555; font-family: Hind,sans-serif;"   >All Listings</span>

                <span *ngIf="BuyItNow" (click)="BuyItNowFuc(false)" onmouseleave="this.style='font-size: 15px; border: 1px #555 solid;  background-color:#ed2424; padding: 5px; color: white; cursor:pointer;';"  onmouseover="this.style='font-size: 15px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 15px; border: 1px #555 solid;  padding: 5px; background-color:#ed2424; cursor:pointer; color: white; font-family: Hind,sans-serif;" >Buy It Now</span>
                <span *ngIf="!BuyItNow" (click)="BuyItNowFuc(false)" onmouseleave="this.style='font-size: 15px; border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='font-size: 15px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 15px; border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555; font-family: Hind,sans-serif;"   >Buy It Now</span>

                <span *ngIf="thisAuction" (click)="thisAuctionFuc(true)" onmouseleave="this.style='font-size: 15px; border: 1px #555 solid;  background-color:#ed2424; padding: 5px; color: white; cursor:pointer;';"  onmouseover="this.style='font-size: 15px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 15px; border: 1px #555 solid;  padding: 5px; background-color:#ed2424; cursor:pointer; color: white; font-family: Hind,sans-serif;" >Auction</span>
                <span *ngIf="!thisAuction" (click)="thisAuctionFuc(true)" onmouseleave="this.style='font-size: 15px; border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='font-size: 15px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 15px; border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555; font-family: Hind,sans-serif;"   >Auction</span>

                <label>&nbsp;</label>
                <!--<select>-->
                <!--<option selected="selected">Grid<span class="fa fa-list" ></span></option>-->
                <!--<option>List <span class="fa fa-list" aria-hidden="true"></span> </option>-->

                <!--</select>-->
              </div>
              <div class="short-by page">
                <label>View:</label>

                <!--<span (click)="listView()"  onmouseleave="this.style='border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555" >List - <span class="fa fa-list" ></span></span>-->
                <span *ngIf="View" (click)="listView()"  onmouseleave="this.style='font-size: 20px; border: 1px #555 solid;  background-color:#ed2424; padding: 5px; color: white; cursor:pointer;';"  onmouseover="this.style='font-size: 20px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 20px; border: 1px #555 solid;  padding: 5px; background-color:#ed2424; cursor:pointer; color: white" >List - <span class="fa fa-list" ></span></span>
                <span *ngIf="!View" (click)="listView()"  onmouseleave="this.style='font-size: 20px; border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='font-size: 20px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 20px; border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555" >List - <span class="fa fa-list" ></span></span>

                <span *ngIf="!View" (click)="GridView()" onmouseleave="this.style='font-size: 20px; border: 1px #555 solid;  padding: 5px;  background-color:#ed2424;  color: white; cursor:pointer;';"  onmouseover="this.style='font-size: 20px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 20px; border: 1px #555 solid;  padding: 5px; cursor:pointer; background-color:#ed2424; color: white"   >Grid - <span class="fa fa-th" ></span></span>
                <span *ngIf="View" (click)="GridView()" onmouseleave="this.style='font-size: 20px; border: 1px #555 solid;  padding: 5px; color: #555; cursor:pointer;';"  onmouseover="this.style='font-size: 20px; background-color:#ed2424; color border: 1px #555 solid; color: white;  padding: 5px; cursor:pointer;';" style="font-size: 20px; border: 1px #555 solid;  padding: 5px; cursor:pointer; color: #555"   >Grid - <span class="fa fa-th" ></span></span>
                <label>&nbsp;</label>
                <!--<select>-->
                <!--<option selected="selected">Grid<span class="fa fa-list" ></span></option>-->
                <!--<option>List <span class="fa fa-list" aria-hidden="true"></span> </option>-->

                <!--</select>-->
              </div>
            </div>
          </div>
          <!--<div class="page-title">-->
            <!--<h2>{{CatName}}</h2>-->
          <!--</div>-->
          <!--<div class="toolbar">-->
          <!--&lt;!&ndash;<div class="view-mode">&ndash;&gt;-->
          <!--&lt;!&ndash;<ul>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="active"> <a href="shop_grid.html"> <i class="fa fa-th-large"></i> </a> </li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li> <a href="shop_list.html"> <i class="fa fa-th-list"></i> </a> </li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div class="sorter">-->
          <!--<div class="short-by">-->
          <!--<label>Sort By:</label>-->
          <!--<select>-->
          <!--<option selected="selected">Position</option>-->
          <!--<option>Name</option>-->
          <!--<option>Price</option>-->
          <!--<option>Size</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--<div class="short-by page">-->
          <!--<label>Show:</label>-->
          <!--<select>-->
          <!--<option selected="selected">18</option>-->
          <!--<option>20</option>-->
          <!--<option>25</option>-->
          <!--<option>30</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <div *ngIf="Waitcall" class="alert  alert-info">
            <p class="">
              <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>

            </p>
          </div>
          <ng-container *ngIf="!errormessage" >
            <div *ngIf="!View" class="product-grid-area">
              <ul class="products-grid">
                <ng-container *ngFor="let phoneProducts of Trend">
                  <ng-container *ngIf="phoneProducts.Active">
                    <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class="product-item">
                        <div class="item-inner">
                          <div class="product-thumbnail">
                            <!--<div class="icon-sale-label sale-left">Sale</div>-->
                            <!--<div class="box-hover">-->
                            <!--<div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>-->
                            <!--<div class="add-to-links" data-role="add-to-links"> <a href="#" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="#" class="action add-to-compare" title="Add to Compare"></a> </div>-->
                            <!--</div>-->
                            <div class="slider-items-products">
                              <div id="pro2-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col6">
                                  <a  [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }"  class="product-item-photo"> <img class="product-image-photo" height="225" src="{{phoneProducts.Pic }}" alt="{{ phoneProducts.Pic }}"></a>

                                  <!--<a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img20.jpg" alt=""></a> -->
                                  <!--<a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img19.jpg" alt=""></a> -->

                                  <!--<div *ngIf="phoneProducts.Auction == true" class="jtv-box-timer">-->
                                  <!--<div class="countbox_1 jtv-timer-grid"></div>-->
                                  <!--</div>-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pro-box-info">
                            <div class="item-info">
                              <div class="info-inner">
                                <div class="item-title">
                                  <h4> <a title="Product Title Here" [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">{{ phoneProducts.P_Title }}  </a></h4>
                                </div>
                                <div class="item-content">
                                  <div class="rating">
                                    <p> Seller: <a [routerLink]="['/store', phoneProducts.StoreName]"> {{phoneProducts.StoreName}}</a></p>
                                  </div>
                                  <div *ngIf="phoneProducts.Auction == true" class="item-price">

                                    <div  class="price-box"> <span class="regular-price"> <span class="price">Rs {{ phoneProducts.MaxBidPrice | number:'.0-0' }}</span> </span> </div>

                                  </div>
                                  <div *ngIf="phoneProducts.Auction == false" class="item-price">
                                    <div class="price-box"> <span class="regular-price"> <span class="price">Rs {{ phoneProducts.FixedPrice | number:'.0-0' }}</span> </span> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box-hover">
                              <div class="product-item-actions">
                                <div *ngIf="phoneProducts.Auction == true" class="pro-actions">
                                  <a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">   <button  class="action add-to-cart" type="button" title="Add to Cart"> <span>Bid Now</span> </button> </a>
                                </div>
                                <div *ngIf="phoneProducts.Auction == false" class="pro-actions">
                                  <a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }" >    <button  class="action add-to-cart" type="button" title="Add to Cart"> <span>Buy Now</span> </button> </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ng-container>

                </ng-container>

              </ul>


            </div>

            <div *ngIf="View" class="product-grid-area">
              <div class="myads">
                <!--<h3>My Active Ads</h3>-->
                <ul class="searchList">
                  <!-- ad start -->


                  <ng-container *ngFor="let phoneProducts of Trend">
                    <ng-container *ngIf="phoneProducts.Active">
                      <li>
                        <div class="row">
                          <div class="col-md-2 col-sm-4">
                            <div class="adimg"><img src="{{phoneProducts.Pic  }}" alt="Ad Name"></div>
                          </div>
                          <div class="col-md-10 col-sm-8">
                            <div class="jobinfo">
                              <div class="row">
                                <div class="col-md-8 col-sm-7">
                                  <h3><a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }" >{{ phoneProducts.P_Title }}</a></h3>
                                  <div class="cateName"> <a href="#.">{{ phoneProducts.Cat_Name }}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#.">{{ phoneProducts.Sub_Cat_Name }}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#.">{{ phoneProducts.Sub_Sub_Cat_Name }}</a>   </div>
                                  <!--<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>-->
                                  <div class="clearfix"></div>
                                  <p>
                                    <span> Auction: <span style="color: red !important;"  *ngIf="phoneProducts.Auction === true">Yes </span><span style="color: red !important;" *ngIf="phoneProducts.Auction === false">No</span> </span>
                                  </p>


                                  <div class="listbtn"><a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">View Details</a></div>
                                </div>
                                <div class="col-md-4 col-sm-5 text-right">
                                  <div *ngIf="phoneProducts.Auction === true " class="adprice">Rs {{ phoneProducts.MaxBidPrice | number:'.0-0'}}</div>
                                  <div *ngIf="phoneProducts.Auction === false " class="adprice">Rs {{ phoneProducts.FixedPrice | number:'.0-0'}}</div>
                                  <!--<a href="#" class="editad"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this ad</a> <span class="pendingad">Pending</span> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ng-container>

                   


                  <!-- ad end -->
                </ul>
              </div>
            </div>


             

          </ng-container>
          <ng-container *ngIf="errormessage"  >

            <div class="alert alert-danger">
              <h3 align="center">No Product Found</h3>
            </div>
            <div>{{message()}}</div>
          </ng-container>


        </div>

      </div>
      <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
        <div class="block shop-by-side">
          <div class="sidebar-bar-title">
            <h3>Shop By</h3>
          </div>
          <div class="block-content">
            <p class="block-subtitle">Shopping Options</p>
            <br/>
            <div class="layered-Category">
                <div class="sidebar-bar-title">
                    <h3>Product Type</h3>
                  </div>
              <!-- <h2 class="saider-bar-title">Product Type</h2> -->
              <div class="layered-content">
                <ul class="check-box-list">
                  <li>
                    <input (click)="ProductType(true)" type="radio" id="jtv1" name="jtvc">
                    <label for="jtv1"> <span class="button"></span> Auction Products </label>
                  </li>
                  <li>
                    <input (click)="ProductType(false)" type="radio" id="jtv2" name="jtvc">
                    <label for="jtv2"> <span class="button"></span> Fixed Products </label>
                  </li>
                  <li>
                    <input (click)="BothAbove()" type="radio" id="jtv3" name="jtvc">
                    <label for="jtv3"> <span class="button"></span> Both Above</label>
                  </li>
                  <li>

                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="block product-price-range ">
          <div class="sidebar-bar-title">
            <h3>Price</h3>
          </div>
          <div class="block-content">
            <div class="slider-range">
              <!--<div data-label-reasult="Range:" data-min="0" data-max="500" data-unit="Rs" class="slider-range-price" data-value-min="50" data-value-max="350"></div>-->
              <!--<div class="amount-range-price">Range: Rs10 - Rs550</div>-->
              <ul class="check-box-list">
                <li>
                  <input (click)="ProductPrice(1,1000)" type="radio" id="p1" name="cc" />
                  <label for="p1"> <span class="button"></span> Rs 1 < Rs 1,000 </label>
                </li>
                <li>
                  <input (click)="ProductPrice(1001,5000)" type="radio" id="p2" name="cc" />
                  <label for="p2"> <span class="button"></span> Rs 1,001 - Rs 5,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(5001,10000)" type="radio" id="p3" name="cc" />
                  <label for="p3"> <span class="button"></span> Rs 5,001 - Rs 10,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(10001,15000)" type="radio" id="p5" name="cc" />
                  <label for="p5"> <span class="button"></span> Rs 10,001 - Rs 15,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(15001,25000)" type="radio" id="p6" name="cc" />
                  <label for="p6"> <span class="button"></span> Rs 15,001 - Rs 25,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(25001,35000)" type="radio" id="p7" name="cc" />
                  <label for="p7"> <span class="button"></span> Rs 25,001 - Rs 35,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(35001,50000)" type="radio" id="p9" name="cc" />
                  <label for="p9"> <span class="button"></span> Rs 35,001 - Rs 50,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(50001,70000)" type="radio" id="p10" name="cc" />
                  <label for="p10"> <span class="button"></span> Rs 50,001 - Rs 70,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(70001,100000)" type="radio" id="p11" name="cc" />
                  <label for="p11"> <span class="button"></span> Rs 70,001 - Rs 1,00,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(100001,200000)"  type="radio" id="p12" name="cc" />
                  <label for="p12"> <span class="button"></span> Rs 1,00,001 - Rs 2,00,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(200001,400000)" type="radio" id="p13" name="cc" />
                  <label for="p13"> <span class="button"></span> Rs 2,00,001 - Rs 4,00,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(400001,500000)"  type="radio" id="p14" name="cc" />
                  <label for="p14"> <span class="button"></span> Rs 4,00,001 - Rs 5,00,000  </label>
                </li>
                <li>
                  <input (click)="ProductPrice(500001,999999999)" type="radio" id="p15" name="cc" />
                  <label for="p15"> <span class="button"></span> Rs 5,00,001 < ... </label>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="block sidebar-cart">
          <div class="sidebar-bar-title">
            <h3>My Cart</h3>
          </div>
          <div class="block-content">
            <ng-container *ngIf="!Cart" >
              <p class="amount">There are <a href="">{{ CartedProduct.products.length }} items</a> in your cart.</p>
              <ul>
                <ng-container *ngFor="let abc of CartedProduct.products">
                  <li class="item"> <a  title="Sample Product" class="product-image"><img src="{{ abc.Pic }}" alt="Sample Product "></a>
                    <div class="product-details">
                      <div class="access"> <a (click)="TrashcartElement(abc.ProductID)" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a></div>
                      <p class="product-name"> <a href="shopping_cart.html">{{ abc.P_Title }}{{ abc.P_Title }}</a> </p>
                      <strong>{{  abc.itemsqty }}</strong> x <span class="price">Rs: {{ abc.FixedPrice | number:'.0-0' }}</span> </div>
                  </li>

                </ng-container>
              </ul>
              <div class="summary">
                <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">Rs: {{Total | number:'.0-0' }}</span> </p>
              </div>
              <div class="cart-checkout">
                <button (click)="ClickCheckOut()" class="button button-checkout"  title="Submit"><i class="fa fa-check"></i> <span>Checkout</span></button>
              </div>
            </ng-container>
            <p *ngIf="Cart" class="amount">There are <a href="">0 items</a> in your cart.</p>
          </div>
        </div>


        <div class="single-img-add sidebar-add-slider ">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active"> <img src="assets/images/add-slide1.jpg" alt="slide1">
                <div class="carousel-caption">
                  <h3><a href="single_product.html" title=" Sample Product">Sale Up to 50% off</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="info">shopping Now</a> </div>
              </div>
              <div class="item"> <img src="assets/images/add-slide2.jpg" alt="slide2">
                <div class="carousel-caption">
                  <h3><a href="single_product.html" title=" Sample Product">Fancywatch Collection</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="info">All Collection</a> </div>
              </div>
              <div class="item"> <img src="assets/images/add-slide3.jpg" alt="slide3">
                <div class="carousel-caption">
                  <h3><a href="single_product.html" title=" Sample Product">Summer Sale</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
        </div>

        <div class="block popular-tags-area ">
          <div class="sidebar-bar-title">
            <h3>Popular Tags</h3>
          </div>
          <div class="tag">
            <ul>
              <li><a href="#">Boys</a></li>
              <li><a href="#">Camera</a></li>
              <li><a href="#">good</a></li>
              <li><a href="#">Computers</a></li>
              <li><a href="#">Phone</a></li>
              <li><a href="#">clothes</a></li>
              <li><a href="#">girl</a></li>
              <li><a href="#">shoes</a></li>
              <li><a href="#">women</a></li>
              <li><a href="#">accessoties</a></li>
              <li><a href="#">View All Tags</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<!-- Main Container End -->
<div class="container">
  <!-- service section -->
  <div class="jtv-service-area">
    <div class="row">
      <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="block-wrapper ship">
          <div class="text-des"> <i class="icon-rocket"></i>
            <h3>FREE SHIPPING & RETURN</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="block-wrapper return">
          <div class="text-des"> <i class="fa fa-dollar"></i>
            <h3>MONEY BACK GUARANTEE</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="block-wrapper support">
          <div class="text-des"> <i class="fa fa-headphones"></i>
            <h3>ONLINE SUPPORT 24/7</h3>
            <p>Lorem ipsum dolor sit amet. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our clients Slider -->

<!--<app-footer></app-footer>-->
