<app-header></app-header>


<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">Change Password</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<div class="breadCrumb"><a href="#">Dashboard</a> <span> Change Password</span></div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!-- Page Title End -->


<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
          <li ><a [routerLink]="['/buyer-dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
          <li><a [routerLink]="['/my-bidds']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li><a [routerLink]="['/buyer-orders']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchasing</a></li>
          <li ><a [routerLink]="['/buyer-offer']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Offers</a></li>
          <li ><a [routerLink]="['/store-registration']"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sell with Dhaar.pk</a></li>
         
          <li><a [routerLink]="['/watch-Product']"><i class="fa fa-list" aria-hidden="true"></i> My Watchlist</a></li>
          <li><a [routerLink]="['/user-shipment']"><i class="fa fa-user" aria-hidden="true"></i> My Address Book</a></li>
          <li><a [routerLink]="['/user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li class="active" ><a [routerLink]="['/account-setting']"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>
          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>

      </div>

      <form role="form" class="login-form">

        <div class="col-md-9 col-sm-8">


          <div class="userccount">
            <h5>Change Password</h5>
            <div *ngIf="Error"  class="alert alert-danger">
              <strong>Error! </strong> Old password not correct. Try Again.
            </div>

            <div *ngIf="notsame"  class="alert alert-danger">
              <strong>Error! </strong>New password must be different.
            </div>

            <div *ngIf="Right" class="alert alert-success">
              <strong>Password Updated!</strong>
            </div>
            <!-- form -->
            <div class="formpanel">
              <div class="formrow">
                <input type="password" name="old" class="form-control" ng-Model="model.old" #old placeholder="Enter Current Password">
              </div>
              <div class="formrow">
                <input type="password" name="new1" class="form-control" ng-Model="model.new1"  #new1 placeholder="Enter New Password">
              </div>
              <div class="formrow">
                <input type="password" name="new2" class="form-control" ng-Model="model.new2"  #new2 placeholder="Confirm New Password">
              </div>
              <div *ngIf="!match"  class="alert alert-danger">
                <strong>Password not matched</strong>
              </div>
              <div *ngIf="Waitcall" class="alert  alert-info">
                <p class="">
                  <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>

                </p>
              </div>
              <input type="submit" (click)="updatePassword(old.value,new1.value,new2.value)" class="btn" value="Submit">
            </div>
            <!-- form  end-->

          </div>


        </div>


      </form>
    </div>
  </div>
</div>


<!--<app-footer></app-footer>-->

