
<app-header></app-header>


<!-- Main Container -->
<div class="main-container col1-layout">
  <div class="container">
    <div class="row">

      <ng-container *ngFor="let productToshow of resultProduct">
      <div class="col-main">
        <div class="product-view-area">


          <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
            <!--<div class="icon-sale-label sale-left">Sale</div>-->
            <ng-container *ngFor="let productPic of Getphoto">
            <div *ngIf="productToshow.ProductID == productPic.ProID " class="large-image"> <a href="{{ PicServrUrl + productPic.Pic }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img class="zoom-img" src="{{ PicServrUrl + productPic.Pic }}" alt="products"> </a> </div>
            </ng-container>
            <!--<div class="slider-items-products col-md-12">-->
              <!--<div id="thumbnail-slider" class="product-flexslider hidden-buttons product-thumbnail">-->
                <!--<div class="slider-items slider-width-col3">-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img01.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img01.jpg' "><img src="assets/images/products/img01.jpg" alt = "Thumbnail 2"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img07.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img07.jpg' "><img src="assets/images/products/img07.jpg" alt = "Thumbnail 1"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img02.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img02.jpg' "><img src="assets/images/products/img02.jpg" alt = "Thumbnail 1"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img03.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img03.jpg' "><img src="assets/images/products/img03.jpg" alt = "Thumbnail 2"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img04.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img04.jpg' "><img src="assets/images/products/img04.jpg" alt = "Thumbnail 2"/></a></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


            <!-- end: more-images -->

          </div>
          <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
            <div class="product-name">
              <h1>{{ productToshow.P_Title}}</h1>
            </div>
            <div class="price-box">
          <ng-container *ngIf="AuctionTest == true">

              <div>
                <div  *ngIf="NewBidInserted == true" class="alert alert-success">
                  <strong>Bid</strong> inserted successfully
                </div>
              </div>


          </ng-container>
              <ng-container *ngIf="productToshow.Auction == true">

              <p class="special-price"> <span class="price-label">Price</span>
                <span class="price"> RS: {{ productToshow.MaxBidPrice }}.00 </span> </p>
              </ng-container>
          <ng-container *ngIf="productToshow.Auction == false">

                <p class="special-price"> <span class="price-label">Price</span>
                  <span class="price"> RS: {{ productToshow.FixedPrice }}.00 </span> </p>
              </ng-container>


            </div>
            <div class="ratings">
              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
              <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
              <p class="availability in-stock pull-right">Availability: <span>In Stock</span></p>
            </div>
            <div class="short-description">
              <h4>Quick Overview</h4>
              <p>   {{ productToshow.P_Des}}</p>
            </div>
            <!--<div class="product-color-size-area">-->
              <!--<div class="color-area">-->
                <!--<h2 class="saider-bar-title">Color</h2>-->
                <!--<div class="color">-->
                  <!--<ul>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="size-area">-->
                <!--<h2 class="saider-bar-title">Size</h2>-->
                <!--<div class="size">-->
                  <!--<ul>-->
                    <!--<li><a href="#">S</a></li>-->
                    <!--<li><a href="#">L</a></li>-->
                    <!--<li><a href="#">M</a></li>-->
                    <!--<li><a href="#">XL</a></li>-->
                    <!--<li><a href="#">XXL</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <div *ngIf="productToshow.Auction" class="product-variation">
            <div id="clockdiv" style="margin-bottom: 15px;">
            <div>
              <span class="days">9</span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours">10</span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes">5</span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="minutes">5</span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>

              <form action="#" method="post">
            <input type="number" class="form-control" style="margin-bottom: 15px;"  name="UserPriceBid" [(ngModel)]="model.UserPriceBid" required>

                <div class="cart-plus-minus">
                  <label for="qty">Place your Bid:</label>

                </div>

                <button class="button pro-add-to-cart" (click)="InsertBid(productToshow.SrartingPrice)" title="Bid Now" type="button"><span><i class="fa fa-shopping-cart"></i> Bid Now</span></button>
              </form>
            </div>

            <div *ngIf="!productToshow.Auction" class="product-variation">
              <form action="#" method="post">
                <div class="cart-plus-minus">
                  <label for="qty">Quantity:</label>
                  <div class="numbers-row">
                    <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                    <input type="text" class="qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                    <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                  </div>
                </div>
                <button class="button pro-add-to-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"></i> Add to Cart</span></button>
              </form>
            </div>
            <div class="product-cart-option">
              <ul>
                <li><a href="#"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i><span>Add to Compare</span></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i><span>Email to a Friend</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="product-overview-tab">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="product-tab-inner">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#description" data-toggle="tab"> Description </a> </li>
                  <li> <a href="#reviews" data-toggle="tab">Reviews</a> </li>

                </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="description">
                    <div class="std">
                      <p>{{ productToshow.P_Des}} </p> </div>
                  </div>
                  <div id="reviews" class="tab-pane fade">
                    <div class="col-sm-5 col-lg-5 col-md-5">
                      <div class="reviews-content-left">
                        <h2>Customer Reviews</h2>
                        <div class="review-ratting">
                          <p><a href="#">Amazing</a> Review by Company</p>
                          <table>
                            <tbody>
                            <tr>
                              <th>Price</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Value</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Quality</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            </tbody>
                          </table>
                          <p class="author"> Angela Mack<small> (Posted on 16/12/2015)</small> </p>
                        </div>
                        <div class="review-ratting">
                          <p><a href="#">Good!!!!!</a> Review by Company</p>
                          <table>
                            <tbody>
                            <tr>
                              <th>Price</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Value</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Quality</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            </tbody>
                          </table>
                          <p class="author"> Lifestyle<small> (Posted on 20/12/2015)</small> </p>
                        </div>
                        <div class="review-ratting">
                          <p><a href="#">Excellent</a> Review by Company</p>
                          <table>
                            <tbody>
                            <tr>
                              <th>Price</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Value</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Quality</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            </tbody>
                          </table>
                          <p class="author"> Jone Deo<small> (Posted on 25/12/2015)</small> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-7 col-lg-7 col-md-7">
                      <div class="reviews-content-right">
                        <h2>Write Your Own Review</h2>
                        <form>
                          <h3>You're reviewing: <span>Donec Ac Tempus</span></h3>
                          <h4>How do you rate this product?<em>*</em></h4>
                          <div class="table-responsive reviews-table">
                            <table>
                              <tbody>
                              <tr>
                                <th></th>
                                <th>1 star</th>
                                <th>2 stars</th>
                                <th>3 stars</th>
                                <th>4 stars</th>
                                <th>5 stars</th>
                              </tr>
                              <tr>
                                <td>Quality</td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                              </tr>
                              <tr>
                                <td>Price</td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                              </tr>
                              <tr>
                                <td>Value</td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                                <td><input type="radio"></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="form-area">
                            <div class="form-element">
                              <label>Nickname <em>*</em></label>
                              <input type="text">
                            </div>
                            <div class="form-element">
                              <label>Summary of Your Review <em>*</em></label>
                              <input type="text">
                            </div>
                            <div class="form-element">
                              <label>Review <em>*</em></label>
                              <textarea></textarea>
                            </div>
                            <div class="buttons-set">
                              <button class="button submit" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Review</span></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Main Container End -->

<!-- Related Product Slider -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="related-product-area">
        <div class="title_block">
          <h3 class="products_title">Related Products</h3>
        </div>
        <div class="related-products-pro">
          <div class="slider-items-products">
            <div id="related-product-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col4">
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="icon-sale-label sale-left">Sale</div>
                      <div class="box-hover">
                        <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                        <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                      </div>
                      <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img01.jpg" alt=""></a> </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div class="pro-actions">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="box-hover">
                        <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                        <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                      </div>
                      <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img02.jpg" alt=""></a> </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$175.88</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div class="pro-actions">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="icon-new-label new-left">new</div>
                      <div class="box-hover">
                        <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                        <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                      </div>
                      <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img03.jpg" alt=""></a> </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            <div class="item-price">
                              <div class="price-box">
                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $299.00 </span> </p>
                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $399.00 </span> </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div class="pro-actions">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="box-hover">
                        <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                        <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                      </div>
                      <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img04.jpg" alt=""></a> </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$125.99</span> </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div class="pro-actions">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="box-hover">
                        <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                        <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                      </div>
                      <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img05.jpg" alt=""></a> </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                            <div class="item-price">
                              <div class="price-box">
                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $188.80 </span> </p>
                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $299.00 </span> </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div class="pro-actions">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Related Product Slider End -->

<!-- Upsell Product Slider -->
<section class="upsell-product-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title_block">
          <h3 class="products_title">UpSell Products</h3>
        </div>
        <div class="slider-items-products">
          <div id="upsell-product-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">
              <div class="product-item">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <div class="icon-sale-label sale-left">Sale</div>
                    <div class="box-hover">
                      <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                      <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                    </div>
                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img06.jpg" alt=""></a> </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div class="pro-actions">
                          <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <div class="box-hover">
                      <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                      <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                    </div>
                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img07.jpg" alt=""></a> </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$175.88</span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div class="pro-actions">
                          <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <div class="icon-new-label new-left">new</div>
                    <div class="box-hover">
                      <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                      <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                    </div>
                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img08.jpg" alt=""></a> </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                          <div class="item-price">
                            <div class="price-box">
                              <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $299.00 </span> </p>
                              <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $399.00 </span> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div class="pro-actions">
                          <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <div class="box-hover">
                      <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                      <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                    </div>
                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img09.jpg" alt=""></a> </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.99</span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div class="pro-actions">
                          <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <div class="box-hover">
                      <div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>
                      <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"></a> </div>
                    </div>
                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img10.jpg" alt=""></a> </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <h4><a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a></h4> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                          <div class="item-price">
                            <div class="price-box">
                              <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $188.80 </span> </p>
                              <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $299.00 </span> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div class="pro-actions">
                          <button onclick="location.href='shopping_cart.html'" class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Upsell Product Slider End -->

<div class="container">
  <!-- service section -->
  <div class="jtv-service-area">
    <div class="row">
      <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="block-wrapper ship">
          <div class="text-des"> <i class="icon-rocket"></i>
            <h3>FREE SHIPPING & RETURN</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="block-wrapper return">
          <div class="text-des"> <i class="fa fa-dollar"></i>
            <h3>MONEY BACK GUARANTEE</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="block-wrapper support">
          <div class="text-des"> <i class="fa fa-headphones"></i>
            <h3>ONLINE SUPPORT 24/7</h3>
            <p>Lorem ipsum dolor sit amet. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our clients Slider -->
<!-- our clients Slider -->


<app-footer></app-footer>
