
<app-header></app-header>


<!-- Main Container -->
<div class="main-container col1-layout">
  <div class="container">
    <div class="row">

      <ng-container *ngFor="let productToshow of resultProduct">
      <div class="col-main">
        <div class="product-view-area">


          <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
            <!--<div class="icon-sale-label sale-left">Sale</div>-->

            <div class="large-image"> <a href="{{ PicServrUrl + productToshow.Pic }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img class="zoom-img" src="{{ PicServrUrl + productToshow.Pic }}" alt="products"> </a> </div>

            <!--<div class="slider-items-products col-md-12">-->
              <!--<div id="thumbnail-slider" class="product-flexslider hidden-buttons product-thumbnail">-->
                <!--<div class="slider-items slider-width-col3">-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img01.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img01.jpg' "><img src="assets/images/products/img01.jpg" alt = "Thumbnail 2"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img07.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img07.jpg' "><img src="assets/images/products/img07.jpg" alt = "Thumbnail 1"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img02.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img02.jpg' "><img src="assets/images/products/img02.jpg" alt = "Thumbnail 1"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img03.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img03.jpg' "><img src="assets/images/products/img03.jpg" alt = "Thumbnail 2"/></a></div>-->
                  <!--<div class="thumbnail-items"><a href='assets/images/products/img04.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/img04.jpg' "><img src="assets/images/products/img04.jpg" alt = "Thumbnail 2"/></a></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


            <!-- end: more-images -->

          </div>
          <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
            <div (click)="ClearSession()" class="product-name">
              <h1>{{ productToshow.P_Title}}</h1>
            </div>
            <div class="price-box">
          <ng-container *ngIf="AuctionTest == true">

              <div>
                <div  *ngIf="NewBidInserted == true" class="alert alert-success">
                  <strong>Bid</strong> inserted successfully
                </div>
              </div>


          </ng-container>
              <ng-container *ngIf="productToshow.Auction == true">

              <p class="special-price"> <span class="price-label">Price</span>
                <span class="price"> Rs: {{ productToshow.MaxBidPrice | number:'.0-0' }}   </span> </p>
              </ng-container>
          <ng-container *ngIf="productToshow.Auction == false">

                <p class="special-price"> <span class="price-label">Price</span>
                  <span class="price"> Rs: {{ productToshow.FixedPrice | number:'.0-0' }} </span> </p>
              </ng-container>


            </div>
            <div class="ratings">
              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
              <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
              <p class="availability in-stock pull-right">Availability: <span>In Stock</span></p>
            </div>
            <div class="short-description">
              <h4>Quick Overview</h4>
              <p>   {{ productToshow.P_Des}}</p>
            </div>
            <!--<div class="product-color-size-area">-->
              <!--<div class="color-area">-->
                <!--<h2 class="saider-bar-title">Color</h2>-->
                <!--<div class="color">-->
                  <!--<ul>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                    <!--<li><a href="#"></a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="size-area">-->
                <!--<h2 class="saider-bar-title">Size</h2>-->
                <!--<div class="size">-->
                  <!--<ul>-->
                    <!--<li><a href="#">S</a></li>-->
                    <!--<li><a href="#">L</a></li>-->
                    <!--<li><a href="#">M</a></li>-->
                    <!--<li><a href="#">XL</a></li>-->
                    <!--<li><a href="#">XXL</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


            <div *ngIf="productToshow.Auction" class="product-variation">
            <div id="clockdiv" style="margin-bottom: 15px;">
            <div>
              <span class="days">{{days}}</span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours">{{ hours }}</span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes">{{minutes}}</span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="minutes">{{seconds}}</span>
              <div class="smalltext">Seconds</div>
            </div>

          </div>


              <form action="#" method="post">
               <ng-container *ngIf="LoginID === false">
                <div class="short-description">
                  <h5>Login required for Bid*</h5>
                </div>
                 <div *ngIf="login_error==true" class="alert alert-danger">
                   <strong>Error!</strong> Invalid Login Details
                 </div>
                <input type="text" class="form-control" style="margin-bottom: 15px; padding-right: 30px;  "  name="UserPriceBid" [(ngModel)]="model.Username" placeholder="Username" required>
                <input type="Password" class="form-control" style="margin-bottom: 15px;"  name="UserPriceBid" [(ngModel)]="model.Password" placeholder="Password" required>
                <button class="button pro-add-to-cart col-md-push-6 " (click)="LoginUser()" title="Bid Now" type="button"><span> Login</span></button>
               </ng-container>
                <ng-container *ngIf="LoginID === true">
                  <div *ngIf="MinBidPrice === true" class="alert alert-danger">
                    <strong>Error!</strong> Minimum Price for Bid  {{ productToshow.MaxBidPrice + 1 | number:'.0-0' }}
                  </div>

                <input type="number" class="form-control" style="margin-bottom: 15px;"  placeholder="Minimum Price for Bid  {{ productToshow.MaxBidPrice+1 | number:'.0-0' }}" name="UserPriceBid" [(ngModel)]="model.UserPriceBid" required>

                <div>
                <div class="cart-plus-minus">
                  <label for="qty">Place your Bid:</label>
                </div>

                <button class="button pro-add-to-cart" (click)="InsertBid(productToshow.SrartingPrice, productToshow.MaxBidPrice)" title="Bid Now" type="button"><span><i class="fa fa-shopping-cart"></i> Bid Now</span></button>
                </div>
                </ng-container>
              </form>
            </div>


            <div *ngIf="!productToshow.Auction" class="product-variation">
              <form action="#" method="post">
                <input type="number" class="form-control" style="margin-bottom: 15px; padding-right: 30px;  "  name="UserPriceBid" [(ngModel)]="model.Username" placeholder="Your Offer Amount" required>
                <textarea type="text" class="form-control" style="margin-bottom: 15px;"  name="UserPriceBid" [(ngModel)]="model.Password" placeholder="Message for Seller" ></textarea>

                <div class="cart-plus-minus">

                  <label for="qty">Quantity:</label>
                  <div class="numbers-row">
                    <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                    <input type="number" ng-Model="1"  #qty class="qty" value="1" style="font-size: 15px !important;"  id="qty" name="qty">
                    <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                  </div>
                </div>
                <button class="button pro-add-to-cart" (click)="Addtocart(qty.value)" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"></i> Add to Cart</span></button>
                <button class="button pro-add-to-cart" style="margin-left: 5px;" (click)="MakeAnOffer(qty.value)" title="Add to Cart" type="button"><span><i class="fa fa-bullhorn"></i> Make Offer</span></button>
                <button class="button pro-add-to-cart" style="margin-left: 5px;" (click)="SubmitOffer(qty.value)" title="Submit Offer" type="button"><span><i class="fa fa-paper-plane"></i>Submit Offer</span></button>
                  <br/>
                  <br/>
                <!--Newsletter Popup Start -->
                <div id="myModal" class="modal fade">
                  <div class="modal-dialog newsletter-popup">
                    <div class="modal-content">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="modal-body">
                        <h2 class="modal-title">Top Fashion</h2>
                        <form id="newsletter-form" method="post" action="#">
                          <div class="content-subscribe">
                            <div class="form-subscribe-header">
                              <label>Register now to get updates on discount & coupons</label>
                            </div>
                            <div class="input-box">
                              <input type="text" class="input-text newsletter-subscribe" title="Sign up for our newsletter" name="email" placeholder="Enter your email address">
                            </div>
                            <div class="actions">
                              <button class="button-subscribe" title="Subscribe" type="submit">Subscribe</button>
                            </div>
                          </div>
                        </form>
                        <div class="subscribe-bottom">
                          <input name="notshowpopup" id="notshowpopup" type="checkbox">
                          Don’t show this popup again </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End of Newsletter Popup-->

              </form>
            </div>
            <div class="product-cart-option">
              <ul>
                <li *ngIf="productToshow.Auction"><a href="#Bidhistory" data-toggle="tab"><i class="fa fa-history"></i><span>Bid History ({{ BidingProduct['results'].length}})</span></a></li>
                <li><a href="#"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i><span>Add to Compare</span></a></li>
                <li><a href="#Bidhistory"><i class="fa fa-envelope"></i><span>Email to a Friend</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="product-overview-tab">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="product-tab-inner">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#description" data-toggle="tab"> Description </a> </li>
                  <li> <a href="#reviews" data-toggle="tab">Reviews</a> </li>
                  <li> <a href="#Bidhistory"  data-toggle="tab">Bid History ({{ BidingProduct['results'].length}})</a> </li>

                </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="description">
                    <div class="std">
                      <p>{{ productToshow.P_Des}} </p> </div>
                  </div>
                  <div id="reviews" class="tab-pane fade">
                    <div class="col-sm-5 col-lg-5 col-md-5">
                      <div class="reviews-content-left">
                        <h2>Customer Reviews</h2>
                        <div class="review-ratting">
                          <p><a href="#">Amazing</a> Review by Company</p>
                          <table>
                            <tbody>
                            <tr>
                              <th>Price</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Value</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Quality</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            </tbody>
                          </table>
                          <p class="author"> Angela Mack<small> (Posted on 16/12/2015)</small> </p>
                        </div>
                        <div class="review-ratting">
                          <p><a href="#">Good!!!!!</a> Review by Company</p>
                          <table>
                            <tbody>
                            <tr>
                              <th>Price</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Value</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Quality</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            </tbody>
                          </table>
                          <p class="author"> Lifestyle<small> (Posted on 20/12/2015)</small> </p>
                        </div>
                        <div class="review-ratting">
                          <p><a href="#">Excellent</a> Review by Company</p>
                          <table>
                            <tbody>
                            <tr>
                              <th>Price</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Value</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            <tr>
                              <th>Quality</th>
                              <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                            </tr>
                            </tbody>
                          </table>
                          <p class="author"> Jone Deo<small> (Posted on 25/12/2015)</small> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-7 col-lg-7 col-md-7">
                      <div class="reviews-content-right">
                        <h2>Write Your Own Review</h2>
                        <form>
                          <h3>You're reviewing: <span>Donec Ac Tempus</span></h3>
                          <h4>How do you rate this product?<em>*</em></h4>

                          <div class="col-lg-12">
                          <fieldset class="ratingq">
                            <input type="radio" id="star5q" name="rating" value="5" (click)="getValueq(5)"/><label
                            class="full" for="star5q" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4halfq" name="rating" value="4 and a half"
                                   (click)="getValueq(4.5)"/><label class="half" for="star4halfq"
                                                                    title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="starq" name="rating" value="4" (click)="getValueq(4.5)"/><label
                            class="full" for="starq" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3halfq" name="rating" value="3 and a half"
                                   (click)="getValueq(3.5)"/><label class="half" for="star3halfq"
                                                                    title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3q" name="rating" value="3" (click)="getValueq(3)"/><label
                            class="full" for="star3q" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2halfq" name="rating" value="2 and a half"
                                   (click)="getValueq(2.5)"/><label class="half" for="star2halfq"
                                                                    title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2q" name="rating" value="2" (click)="getValueq(2)"/><label
                            class="full" for="star2q" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1halfq" name="rating" value="1 and a half"
                                   (click)="getValueq(1.5)"/><label class="half" for="star1halfq"
                                                                    title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1q" name="rating" value="1" (click)="getValueq(1)"/><label
                            class="full" for="star1q" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalfq" (click)="getValueq(0.5)" name="rating" value="half"/><label
                            class="half" for="starhalfq" title="Sucks big time - 0.5 stars"></label>
                          </fieldset>
                          </div>

                          <div class="form-area">
                            <div class="form-element">
                              <label>Nickname <em>*</em></label>
                              <input type="text">
                            </div>
                            <div class="form-element">
                              <label>Summary of Your Review <em>*</em></label>
                              <input type="text">
                            </div>
                            <div class="form-element">
                              <label>Review <em>*</em></label>
                              <textarea></textarea>
                            </div>
                            <div class="buttons-set">
                              <button class="button submit" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Review</span></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade " id="Bidhistory">
                    <div class="main container">
                      <div class="row">

                        <div class="col-xs-10">
                          <div class="page-content checkout-page">
                            <div class="page-title">
                              <h2>Biding History</h2>
                            </div>

                            <!--<h4 class="checkout-sep">Biding History</h4>-->
                            <div class="box-border col-xs-offset-1">
                              <div class="table-responsive">
                                <table class="table table-bordered cart_summary">
                                  <thead>
                                  <tr>
                                    <th>Sr.</th>
                                    <th>Bidder</th>
                                    <th>Bid Amount</th>
                                    <th>BidTime</th>

                                  </tr>
                                  </thead>
                                  <tbody>
                                    <ng-container *ngFor="let abc of BidingProduct['results']; let i = index">
                                    <tr>
                                      <td >
                                         <span> {{ i+1 }}</span>
                                      </td>
                                      <td >
                                        <p> {{ abc.User_Id.substr(0, 2 ) }}****</p>
                                        <!--<small><a href="#">Color : Beige</a></small><br>-->
                                        <!--<small><a href="#">Size : S</a></small>-->
                                      </td>
                                      <td class="cart_avail"><span>Rs {{ abc.Price |   number:'.0-0' }}</span></td>
                                      <td>{{ abc.CreatedDate.substr(0, 19 ) }}</td>


                                    </tr>
                                    </ng-container>
                                  </tbody>
                                  <tfoot>

                                  <tr>
                                    <td colspan="2" rowspan="2">
                                      <span>If two people bid the same amount, the first bid has priority</span>
                                      <br/>
                                      <button (click)="RefreshBids()" class="button"><span>Refresh</span></button>
                                    </td>


                                  </tr>

                                  </tfoot>
                                </table>
                              </div>

                            </div>




                          </div>

                        </div>


              </div>
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>
        </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Main Container End -->

<!-- Related Product Slider -->

<div class="home-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Home Tabs  -->

        <div class="tab-info">
          <h3 class="new-product-title pull-left">Related Products</h3>
          <ul class="nav home-nav-tabs home-product-tabs">
            <!--<li class="active"><a href="#all" data-toggle="tab" aria-expanded="false">All</a></li>-->
            <li> <a href="#women" data-toggle="tab" aria-expanded="false">Phones & Tablets</a> </li>
            <!--<li> <a href="#men" data-toggle="tab" aria-expanded="false">Fashion</a> </li>-->
            <!--<li> <a href="#kids" data-toggle="tab" aria-expanded="false">Electronics</a> </li>-->
          </ul>
          <!-- /.nav-tabs  let phoneProducts of GetallPhoneProduct; -->
        </div>
        <div id="productTabContent1" class="tab-content">

          <div class="tab-pane active in" id="women">
            <ng-container *ngFor="let phoneProducts of GetallPhoneProduct">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <!--<div class="icon-sale-label sale-left">Sale</div>-->
                    <!--<div class="box-hover">-->
                    <!--<div class="btn-quickview"> <a href="#" data-toggle="modal" data-target="#modal-quickview"><i class="fa fa-search-plus" aria-hidden="true"></i> Quick View</a> </div>-->
                    <!--<div class="add-to-links" data-role="add-to-links"> <a href="#" class="action add-to-wishlist" title="Add to Wishlist"></a> <a href="#" class="action add-to-compare" title="Add to Compare"></a> </div>-->
                    <!--</div>-->
                    <div class="slider-items-products">
                      <div id="pro2-slider1" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6">

                          <a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }" class="product-item-photo"> <img class="product-image-photo" height="300" src="{{ PicServrUrl + phoneProducts.Pic }}" alt="{{ PicServrUrl + phoneProducts.pic }}"></a>
                          <!--<a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img20.jpg" alt=""></a> -->
                          <!--<a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="assets/images/products/img19.jpg" alt=""></a> -->

                          <!--<div *ngIf="phoneProducts.Auction == true" class="jtv-box-timer">-->
                          <!--<div class="countbox_1 jtv-timer-grid">-->

                          <!--</div>-->
                          <!--</div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4> <a title="Product Title Here" [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">{{ phoneProducts.P_Title }}  </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <div *ngIf="phoneProducts.Auction == true" class="item-price">

                            <div  class="price-box"> <span class="regular-price"> <span class="price"  >Rs {{ phoneProducts.MaxBidPrice | number:'.0-0' }} </span> </span> </div>

                          </div>
                          <div *ngIf="phoneProducts.Auction == false" class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">Rs {{ phoneProducts.FixedPrice | number:'.0-0' }}.00</span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="phoneProducts.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">   <button  class="action add-to-cart" type="button" title="Add to Cart"> <span>Bid Now</span> </button> </a>
                        </div>
                        <div *ngIf="phoneProducts.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']" [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }" >    <button  class="action add-to-cart" type="button" title="Add to Cart"> <span>Add to Cart</span> </button> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>

        </div>
      </div>

      <!-- prom banner-->




    </div>
  </div>







  <!-- Offer banner -->
  <div class="container">
    <div class="row">
      <div class="offer-add">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="jtv-banner-box banner-inner">
            <div class="image"> <a class="jtv-banner-opacity" href="#"><img src="assets/images/top-banner5.jpg" alt=""></a> </div>
            <div class="jtv-content-text">
              <h3 class="title">Buy 2 items</h3>
              <span class="sub-title">get one for free!</span><a href="#" class="button">Shop now!</a> </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="jtv-banner-box banner-inner">
            <div class="image"> <a class="jtv-banner-opacity" href="#"><img src="assets/images/top-banner3.jpg" alt=""></a> </div>
            <div class="jtv-content-text hidden">
              <h3 class="title">New Arrival</h3>
            </div>
          </div>
          <div class="jtv-banner-box banner-inner">
            <div class="image "> <a class="jtv-banner-opacity" href="#"><img src="assets/images/top-banner4.jpg" alt=""></a> </div>
            <div class="jtv-content-text">
              <h3 class="title">shoes</h3>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="jtv-banner-box">
            <div class="image"> <a class="jtv-banner-opacity" href="#"><img src="assets/images/top-banner2.jpg" alt=""></a> </div>
            <div class="jtv-content-text">
              <h3 class="title">perfect light </h3>
              <span class="sub-title">on brand-new models</span> <a href="#" class="button">Buy Now</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
