<app-header></app-header>



<div class="container" id="about" >
  <div class="bg-img">
    <img src="../../assets/images/temp/Banner.png">
  </div>
  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2 class="about-title">What is Dhaar?</h2>
      <p class="about-text">

        Dhaar is the first Desi Auction Marketplace. BID, COMPARE, BUY & SELL with a Roar! Open your own e-Commerce Store. List your Services & Jobs.

        Dhaar was built from the grounds up with a singular goal: Provide an Artificially Intelligent e-Commerce Platform to connect Buyers with Sellers running on next generation Web, iOS & Android Mobile Apps.

        From a True Auction experience to Price Comparison to Reviews Aggregation/Crunching & a custom Dhaar Score of every Buyer, Seller and Product based on our custom Machine Learning Engine, Dhaar will assist the user through a trusted, neutral, unbiased, time and money saving e-Commerce/Auction experience.
      </p>

    </div>

    <div class=" col-md-6 col-sm-12 col-xs-12 text-center">
      <img src="../../assets/images/temp/1.png">
    </div>
  </div>
    <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
      <img src="../../assets/images/temp/2.png">
    </div>
    <div class=" col-md-6 col-sm-12 col-xs-12">
      <h2 class="about-title">Why Dhaar?</h2>
      <p class="about-text">We, at Dhaar have leveraged bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) next generation technologies to bring you the First Desi Auction MarketPlace = BTW, we are very proud of our work!<br>
        We believe that, it’s high time that subjective and traditional approaches for e-Commerce are replaced with next-generation AI-driven technologies and Online Auctioneering in Pakistan. <br>

      </p>
      <h2 class="about-title">Our Mission?</h2>
      <p class="about-text">
        We have over 100+ years of combined experience in the Marketing & High Tech Universes – in both Hardware and Software Realms. We are strong believers in next-generation automation and efficiency by harnessing the power of Machine Learning for e-Commerce and Online Auctioneering: We see Artificial Intelligence (AI) as a revolutionary toolbox that, will allow us to empower Bidders, Buyers, Marketers, Organizations, Brands, Entrepreneurs and Private Sellers to maximize ROI via e-Commerce and make life Simpler n’ Easier.
      </p>
    </div>
    </div>

  
  <div class="row back-cover">
    <div class=" col-md-12 col-sm-12 col-xs-12" >
      <h2 class="about-title white-color">Bidding. Stuff. Services. Jobs. Offers. Counter-Offers. Dhaar is the Desi Auction Universe!</h2>
      <p class="about-text white-color">
        A Virtual place where you can buy and sell just about anything even when it isn’t readily available in any store locally.
        Customers are in love, and how could they not be? availability of items, advanced search & notification systems, variety of items, ease of purchase, secure transactional process and top it all off, user friendliness of the site is what Dhaar is all about!
        Dhaar has brought new economic opportunities to developing areas and increased cultural understanding between Pakistani population by 20% with its 20% off deals. What doesn’t connect communities better than cultural differences? Start shopping and bidding on products to symbolize the cultural similarities or better bask under the differences, either buying from Khaadi or your local hard-working and self-earning mother from Natiagali.
        Become a Dhaar ambassador in your own lives, Shop for great deals on your favorite items or to start turning your old junk into fresh cash.
        Buy, Sell or Bid on latest or used-but-functioning gadgets.
      </p>

    </div>
  </div>
  <!--<div class="col-md-12">-->
  <!--<h2 class="title-divider">-->
  <!--<span>How it works <span class="font-weight-normal text-muted"></span></span>-->
  <!--<small *ngFor="let about of abouts" id="about-top-text" >-->
  <!--<span *ngIf="!is_admin">-->
  <!--{{about.heading}}-->

  <!--</span>-->
  <!--<div *ngIf="is_admin" >-->
  <!--<input  [(ngModel)] = "about.heading" style = "background-color: #FFFFFF;  border:0px;">-->
  <!--<button  class = "btn btn-info btn-xs" (click) = "heading_submit(about.heading)">Update</button>-->
  <!--</div>-->

  <!--</small>-->
  <!--</h2>-->

</div>
<!--&lt;!&ndash; About company &ndash;&gt;-->
<!--<h4 *ngFor="let about of abouts" >-->
<!--<span *ngIf="!is_admin">-->
<!--{{about.sub_heading}}-->
<!--</span>-->
<!--<input *ngIf = "is_admin" [(ngModel)] = "about.sub_heading" style = "background-color: #FFFFFF; border:0px; ">-->
<!--<button *ngIf = "is_admin" class="btn btn-info btn-xs" (click)="sub_heading_submit(about.sub_heading)" > Update </button>-->
<!--</h4>-->


<!--<p  *ngFor="let about of abouts" id="about-texts" >-->
<!--<span *ngIf="!is_admin">-->
<!--{{about.body}}-->
<!--</span>-->
<!--<textarea  *ngIf= "is_admin"  [(ngModel)]= "about.body"  rows="8" cols = "80" style = "background-color: #FFFFFF; border:0px; ">-->
<!--{{about.body}}-->
<!--</textarea>-->
<!--<button *ngIf="is_admin" class="btn btn-info btn-xs" (click) = "body_submit(about.body)" > Update </button>-->
<!--</p>-->

<!--</div>-->
<!-- ======== @Region: #content-below ======== -->


























































<!--<div class="container">-->
  <!--<body>-->
  <!--<h2 class="ribbon">What is DHAAR</h2>-->
  <!--<p>A Virtual place where you can buy and sell just about anything even when it isn’t readily available in any store locally.</p>-->
  <!--<p>Customers are in love, and how could they not be? availability of items, advanced search & notification systems, variety of items, ease of purchase, secure transactional process and top it all off, user friendliness of the site is what Dhaar is all about!</p>-->
  <!--<p>Dhaar has brought new economic opportunities to developing areas and increased cultural understanding between Pakistani population by 20% with its 20% off deals. What doesn’t connect communities better than cultural differences? Start shopping and bidding on products to symbolize the cultural similarities or better bask under the differences, either buying from Khaadi or your local hard-working and self-earning mother from Natiagali.</p>-->
  <!--<p>Become a Dhaar ambassador in your own lives, Shop for great deals on your favorite items or to start turning your old junk into fresh cash. Buy, Sell or Bid on latest or used-but-functioning gadgets.</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h3 class="ribbon">Phones and Tablets</h3>-->
  <!--<p>Couldn’t buy the latest iPhone X, out of reach, right?  Perhaps it’s time to become part of Dhaar to get complete dose of your purchasing-craze in numbers you can finally afford.</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h3 class="ribbon">Men and Women’s Fashion</h3>-->
  <!--<p>Ladies and Gentlemen, No time, tight budget and proneness to technology? We have greatest deals available just specifically for you. Don’t budge from buying what you wish to be!</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h3 class="ribbon">Home Appliances/Computer & Laptops</h3>-->
  <!--<p>Craving some extra money? sell your old worn-out stuff and earn some fresh cash just in time.</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h2 class="ribbon">How It Works</h2>-->
  <!--<p>Seller, Buyer and Store Owners has to sign into Dhaar.pk or download the application via Android or iOS market.</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h3 class="ribbon">Selling at Fixed Price</h3>-->
  <!--<p>A seller lists an item on Dhaar.pk, from fashion stuff, gadgets to home appliances by logging into Dhaar. The seller chooses to accept only bids for the item (in auction category) or to offer the Buy It option, which allows buyers to purchase the item straight away at a fixed price.</p>-->
  <!--<p>In a “Buy It” category, the first buyer willing to pay the seller's price gets the item.</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h3 class="ribbon">Bidding and Winning: </h3>-->
  <!--<p>In an online auction, the bidding opens at a price the seller specifies and remains on Dhaar for an allocated number of days. Buyers then place bids on the item. When the time ends, the buyer with the highest bid wins.</p>-->
  <!--<br>-->
  <!--<br>-->
  <!--<h3 class="ribbon">Sale by Major Stores</h3>-->
  <!--<p>Dhaar has products on sale by the hundreds of online Pakistani brands to choose from.</p>-->
  <!--<p>In this case, in “Buy It” category, the buyer simply has to pay the price of the product set by the stores.</p>-->
  <!--<p>For Further queries contact at www.dhaar.pk/customerservices</p>-->
  <!--</body>-->
<!--</div>-->





