<!--<app-header></app-header>-->
<!--<app-home-slider *ngIf=" islogin=='false'"></app-home-slider>-->
<!--<app-home-slider></app-home-slider>-->
<router-outlet></router-outlet>
<!--<div class="dropup-holder" [ngClass]="{'active': chatVar === 1 || GlobalChatVar === 1}" [ngStyle]="{'display':LoggedIn === 1 ? 'block' : 'none' }">-->
  <!--<button class="btn chatbutton" type="button" name="btnChat" (click)="openChat()">-->
    <!--<span class="glyphicon glyphicon-comment"></span> Start Chat-->
    <!--<span class="caret"></span>-->
  <!--</button>-->
  <!--<div class="chat-holder">-->
    <!--<app-chat></app-chat>-->
  <!--</div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->

<!--<app-footer *ngIf=" islogin=='false'"></app-footer>-->

