<app-header></app-header>

<div class="container terms-use">
      <h2 class="text-center">Privacy Policy</h2>


      <h3 class="ribbon">1. Data Collection</h3>


      <h4 class="ribbon">Personal information you give us when you use our Services or register for an account with us
      </h4>
      <p>Identifying information such as your name, addresses, telephone numbers or email addresses when you register
            for an account with us.</p>
      <p>Bidding, buying, or selling information you provide during a transaction, or other transaction-based content
            that you generate or that is connected to your account as a result of a transaction you are involved in.</p>
      <p>Other content that you generate, or that is connected to your account (such as adding items to your basket,
            adding items to your Watch List, creating collections, and following other collections and sellers).</p>
      <p>Financial information (such as credit card or bank account numbers) in connection with a transaction.</p>
      <p>Postage, billing and other information used to purchase or post an item, as well as, where postal services are
            provided through one of our programs, information required to clear customs (such as Tax ID or other
            identification numbers) and relevant postage information (such as tracking numbers and tracking updates).
      </p>
      <p>In some instances, when you use our Services, you may provide age, gender, interests and favorites.</p>
      <p>You may also provide us other information through a web form, by updating or adding information to your
            account, through your participation in community discussions, chats, dispute resolution, or when you
            otherwise correspond with us regarding our Services.</p>
      <p>Additional information we are required or authorized by applicable national laws to collect and process in
            order to authenticate or identify you or to verify the information we have collected.</p>


      <h4 class="ribbon">Personal information we collect automatically when you use our Services or register for an
            account with us</h4>
      <p>We also collect information about your interaction with our Services, your advertising preferences, and your
            communications with us. This is information we receive from the devices (including mobile devices) you use
            when you use our Services, register for an account with us, provide us information on a web form, update or
            add information to your account, participate in community discussions, chats, or dispute resolution, or when
            you otherwise correspond with us regarding our Services. This information comprises the following: Device ID
            or unique identifier, device type, ID for advertising, and unique device token</p>
      <p>Geo-location information, including location information from your mobile device. Keep in mind that most mobile
            devices allow you to control or disable the use of location services by any application on your mobile
            device in the device's settings' menu</p>
      <p>Computer and connection information such as statistics on your page views, traffic to and from the sites,
            referral URL, ad data, your IP address, your browsing history, and your web log information</p>


      <h4 class="ribbon">Personal information we collect using cookies, web beacons, and similar technologies</h4>
      <p>We use cookies, web beacons, unique identifiers, and similar technologies to collect information about the
            pages you view, the links you click, and other actions you take on our Services, within our advertising or
            E-mail content. For more information about our use of these technologies and how to control them, see our
            notice on Cookies, Web Beacons and Similar Technologies.</p>


      <h4 class="ribbon">Personal information from other sources</h4>
      <p>We may supplement the personal information we collect with information from third parties and add it to your
            account information. For example, we may collect and use demographic information that is publically
            available, additional contact information, credit check information, and information from credit bureaus, as
            allowed by applicable national laws</p>
      <p>We may allow you to share information with social media sites, or use social media sites to create your account
            or to connect your account with the respective social media site. Those social media sites may give us
            automatically access to certain personal information retained by them about you (e.g., content viewed by
            you, content liked by you, and information about the advertisements you have been shown or may have clicked
            on, etc.). If you provide us with access to any site with video content, then you agree that we may share
            your video viewing with, or obtain information about your video viewing from, third-party social media sites
            for at least two years or until you withdraw consent. You control the personal information you allow us to
            have access to through the privacy settings on the applicable social media site and the permissions you give
            us when you grant us access to your personal information retained by the respective social media site about
            you. By associating an account managed by a social media site with your account and authorizing us to have
            access to this information, you agree that we may collect, use and retain the information provided by these
            social media sites in accordance with this Privacy Notice</p>
      <p>If you give us personal information about someone else, you must do so only with their explicit and prior
            consent. You have to inform them how we collect, use, disclose, and retain their personal information
            according to our Privacy Notice.</p>


      <h3 class="ribbon">2. Data Use And Retention</h3>
      <p>We may use information provided by you to: (i) enforce our Terms of Use, monitor user activity, such as keyword
            searches or new postings, and more effectively manage traffic on the Website; (ii) provide customer
            services, create and manage user accounts; and (iii) assist you with technical difficulties. Also, we may
            share with third-party service providers certain information, such as your browser capabilities or operating
            system, that we have collected in order to better understand which advertisements and services may interest
            you. We may block users located in certain countries from using the Website. We may retain such information
            for as long as is required to fulfil our business objective, even after your account is terminated.</p>


      <h4 class="ribbon">Protecting Your Personal Information</h4>
      <p>You are a valued customer, and we recognize that protecting your privacy is important to you. For this reason,
            we are committed to protecting the personal information you provide in a variety of ways. We do not directly
            process any payments and do not store your credit card information. Secured socket layer ("SSL") technology
            is used for processing payment transactions with third- party service provider partners, such as Click &
            Buy, PayPal, and DineroMail. Your Registration Information may be protected by a unique customer password
            and user ID. You should not disclose your password information to anyone and you should always remember to
            log off if using a shared computer. Lastly, you may utilize the Website as an anonymous user by not
            registering. We have taken certain security protections in safeguarding your personal information. However,
            as with most electronic transactions, no method is 100% safe. While we strive to use a commercially
            acceptable means to protect the personal information you provide, we cannot guarantee its security.
            Therefore, you acknowledge and agree that we assume no liability regarding the theft, loss, alteration or
            misuse of personal or other information or Content, including, without limitation, such information that has
            been provided to third parties or other users, or with regards to the failure of a third party to abide by
            the agreement between us and such third party. You may participate in our Forum or utilize our Comments
            feature. For postings to the Forum, your username will be posted. For postings using the Comments feature,
            your name and email will only be posted if you provide it in the comment. We strongly discourage posting any
            information on these features or in any Content posted by you that you do not want others to see. You agree
            that you are responsible for maintaining the confidentiality of your username and password, and all uses of
            your account, whether or not you have authorized such use.</p>


      <h4 class="ribbon">Accessing and Modifying Personal Information and Communication Preferences</h4>
      <p>You may access, remove, review, and/or make changes to personal information that you have provided to us via
            the Contact Support form. You need not register in order to post or respond to advertisements on the
            Website. If you register or respond to advertisements or posts on the Website or post any content on the
            Website, we may send you certain notifications, advertisements, promotions, surveys, text messages, specials
            and phone calls in relation to the Services. You hereby unconditionally allow us and our service providers
            to contact you via text messages or by phone calls and agree that you shall have no claim against DHAAR or
            its service providers under any applicable law. We may also send you any legally required notifications and
            certain notifications, including but not limited to, service related notices or notices regarding a change
            to any of our policies. For example, we may send you a notice regarding server problems or scheduled
            maintenance to the Website. In order to opt-out of receiving these notices, you may need to deactivate your
            account. You can opt out of certain E-mail communications from us, including our newsletters, advice on
            buying and selling on the Website, notifications that a user has commented on your posting, and
            notifications that you can refresh your posting. We will not change your preferences without your consent.
            You cannot opt out of receiving transactional communications from DHAAR related to your account.</p>


      <h3 class="ribbon">3. Disclosures</h3>
      <p>On rare occasions, we may be required to disclose your personal information due to legal or regulatory
            requirements. In such instances, we reserve the right to disclose your personal information as required in
            order to comply with our legal obligations, including but not limited to complying with court orders,
            warrants, subpoenas, service of process requirements, or discovery requests. We may also disclose
            information about our users to law enforcement officers or others, in the good faith belief that such
            disclosure is reasonably necessary to enforce these Terms and/or Privacy Policy; respond to claims that any
            Content violates the rights of third-parties; or protect the rights, property, or personal safety of DHAAR,
            our users or the general public. You agree and acknowledge that we may not inform you prior to or after
            disclosures made according to this section. If substantially all of our assets are sold or merged into
            another company, the acquiring company shall be given access to your personal information without your
            consent. If we sell only a part of our business, the acquiring entity shall have access to your personal
            information without your consent and we may send you a notice regarding this sale.</p>


      <h3 class="ribbon">4. Security</h3>
      <p>We protect your information using technical and administrative security measures to reduce the risks of loss,
            misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data
            encryption, physical access controls to our data centers, and information access authorization controls. If
            you believe your account has been abused, please contact us following the instructions in the Contact Us
            section below.</p>


      <h3 class="ribbon">5. Children's Privacy</h3>
      <p>Our websites are general audience websites, and our Services are not intended for children under the age of 13.
            We do not knowingly collect personal information from users in this age group.</p>


      <h3 class="ribbon">6. Third Party Privacy Practices</h3>
      <p>This Privacy Notice addresses only the use and disclosure of personal information we collect from you. If you
            disclose your information to others, or if you are directed to a third party website, their privacy notices
            and practices will apply.
            We cannot guarantee the privacy or security of your information once you provide it to a third party and we
            encourage you to evaluate the privacy and security policies of your trading partner before entering into a
            transaction and choosing to share your information. This is true even where the third parties to whom you
            disclose personal information are bidders, buyers or sellers on our sites.</p>


      <h3 class="ribbon">7. Notification of Changes</h3>
      <p>We reserve the right to change these Terms from time to time, and at our sole discretion. We may send you a
            notice regarding material changes to these Terms, including the Privacy Policy or the Website. You should
            make note of the "last updated date" at the beginning of the Terms. With this information, you should be
            able to identify if the Terms have been updated recently.</p>


      <h3 class="ribbon">8. Disputes</h3>
      <p>Any disputes regarding your privacy are subject to the Terms, including but not limited to any provisions
            related to indemnification, limitations on damages, and choice of law and forum.</p>


      <h3 class="ribbon">9. Your rights</h3>
      <p>If you are concerned about your data you have the right to request access to the personal data which we may
            hold or process about you. You have the right to require us to correct any inaccuracies in your data free of
            charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing
            purposes.</p>

</div>