<!-- <app-header></app-header> -->


<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">My Details</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<div class="breadCrumb"><a href="#">Dashboard</a> <span> My Details</span></div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!-- Page Title End -->

<!-- 
<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
            <li ><a [routerLink]="['/store-view']"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Visit my ALL Store</a></li>
          <li ><a [routerLink]="['/select-category']"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Add New Product</a></li>
          <li ><a [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i>Seller Dashboard</a></li>
          <li ><a [routerLink]="['/seller-product-setting-store']"><i class="fa fa-cog" aria-hidden="true"></i>Seller Product Setting</a></li>

          <li><a [routerLink]="['/pending-ad']"><i class="fa fa-check" aria-hidden="true"></i> My Pending Ads</a></li>
          <li><a [routerLink]="['/active-ad']"><i class="fa fa-check-square" aria-hidden="true"></i> My Active Ads</a></li>
          <li><a [routerLink]="['/my-bids']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li><a [routerLink]="['/seller-offer']"><i class="fa fa-laptop" aria-hidden="true"></i> My Offers</a></li>
          <li><a [routerLink]="['/seller-purchasing']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchases</a></li>
          <li><a [routerLink]="['/watch-Product']"><i class="fa fa-list" aria-hidden="true"></i> My Watchlist</a></li>
          <li><a [routerLink]="['/store-registration']"><i class="fa fa-paper-plane" aria-hidden="true"></i> Add New Store  Dhaar.pk</a></li> <li><a [routerLink]="['/manage-coupons']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Manage Coupons</a></li>
           
          <li><a [routerLink]="['/manage-coupons']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Manage Coupons</a></li>
          <li class="active"><a [routerLink]="['/seller-user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li><a [routerLink]="['/seller-setting']"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>
          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
        <div class="adimages"> <a [routerLink]="['/home']"> <img src="assets/assets2/images/large-ad.jpg" alt="google ad"> </a> </div>
      </div> -->



        <div class="col-md-12 col-sm-12">
          <form name="form1" role="form" class="login-form">


          <div class="userccount">
            <h5>My Details</h5>


            <div class="">
              <ng-container *ngIf="GetUSerdetails">
                <div id="step1" class="tab-pane fade in active">

                  <div class="row from-setting">
                      <div class="col-sm-6">

                        <label for="FName" class="required">First Name(*)</label>
                        <input type="text"ng-Model="model.FName" #FName name="FName"
                               required class="input form-control"
                               placeholder="First Name"
                               id="FName"
                               value="{{GetUSerdetails.Fname}}">



                      </div>
                      <div class="col-sm-6">



                        <label for="Lname" class="required">Last Name(*)</label>

                        <input type="text" class="input form-control"
                               required
                               placeholder="Last Name"
                               ng-Model="model.Lname" #Lname name="Lname"
                               id="Lname"
                               value="{{GetUSerdetails.Lname}}">


                      </div>
                      <div class="col-sm-6">

                        <label   class="required">Select Your Country(*) </label>
                        <select  class="form-control"  ng-Model="model.Country" #Country name="Country">
                          <option value="Pakistan" selected>Pakistan</option>

                        </select>

                      </div>
                      <div class="col-sm-6">

                        <label  class="required">Select Your State/Province(*)</label>
                        <select  class="form-control"  ng-Model="model.State" #State name="State" >
                          <option value="Punjab" selected>Punjab</option>

                          <option value="Sindh" >Sindh</option>
                          <option value="Balochistan" >Balochistan</option>
                          <option value="Khyber Pakhtunkhwa" >Khyber Pakhtunkhwa</option>


                        </select>

                      </div>
                      <div class="col-sm-6">

                        <label  class="required">Your City(*)</label>

                        <input class="input form-control"
                               placeholder="Your City"
                               type="text" required
                               ng-Model="model.City" #City name="City"
                               value="{{GetUSerdetails.City}}">
                      </div>
                      <div class="col-sm-6">

                        <label for="postal_code" class="required">Zip/Postal Code(*)</label>
                        <input class="input form-control" type="text"
                               pattern="([0-9])+$"

                               placeholder="55560"
                               required ng-Model="model.zipcode" #zipcode name="zipcode" id="postal_code"
                               value="{{GetUSerdetails.Zip}}">
                      </div>
                      <div class="col-sm-6">

                        <label for="telephone" class="required">Owner Contact Number(*)</label>


                        <input class="input form-control"

                               [textMask]="{mask: mask}"
                               placeholder="your contact number"
                               type="text" required ng-Model="model.personal" #personal name="personal"
                               id="telephone"
                               value="{{GetUSerdetails.Mobile}}">
                      </div>
                      <div class="col-sm-6">

                        <div class="form-group">

                          <label for="telephone" class="required">Upload Your Profile Picture</label>


                          <input type="file" #fileImportInput id="file1" name="file" class="file" data-preview-file-type="text" (change)="handleFileInput($event.target.files)"  multiple accept="image/*">


                        </div>

                      </div>
                      <div class="col-xs-12">

                        <label for="address" class="required">Address(*)</label>

                        <input type="text" class="input form-control" required
                               placeholder="shop #, street# etc"
                               ng-Model="model.address"
                               #address name="address" id="address"
                               value="{{GetUSerdetails.Address}}">
                      </div>
                      <div class="col-lg-12">
                        <div *ngIf="Error"  class="alert alert-danger">
                          <strong>Error </strong> While updating record.
                        </div>
    
                        <div *ngIf="Right" class="alert alert-success">
                          <strong>Profile Updated!  <a style="color: red !important;" [routerLink]="['/dashboard']">Go to Dashboard Section</a></strong>
                        </div>
                        <div *ngIf="Waitcall" class="alert  alert-info">
                          <p class="">
                            <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>
    
                          </p>
                        </div>
                        <input type="submit" (click)="save(FName.value,Lname.value,Country.value,State.value,City.value, zipcode.value, personal.value, address.value)" class="btn-black" value="Update">
                      </div>
                  </div>



                  
                </div>
              </ng-container>

            </div>


          </div>

          </form>
        </div>
    <!-- </div>
  </div>
</div> -->


<!--<app-footer></app-footer>-->

