<div #zoomContainer class="ngxImageZoomContainer">

    <img #imageThumbnail class="ngxImageZoomThumbnail" [src]="thumbImage" width="100%" height="100%"
         (load)="onThumbImageLoaded()"/>

    <div style="width:800px;height:800px;" [ngClass]="{'ngxImageZoomFullContainer': true, 'ngxImageZoomLensEnabled': this.enableLens}"
         [style.display]="this.display"
         [style.top.px]="this.lensTop"
         [style.left.px]="this.lensLeft"
         [style.border-radius.px]="this.lensBorderRadius"
    >
        <img style="width:800px;height:800px;" #fullSizeImage class="ngxImageZoomFull" [src]="fullImage"
             (load)="onFullImageLoaded()"
             [style.display]="this.display"
             [style.top.px]="this.fullImageTop"
             [style.left.px]="this.fullImageLeft"
        />
    </div>
</div>
