
<app-header></app-header>

<!-- Page Title start -->
<!--<div class="pageTitle">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<h1 class="page-heading">Login</h1>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6">-->
        <!--<div class="breadCrumb"><a href="#">Home</a> / <span>Login</span></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Page Title End -->

<div class="listpgWraper">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">

        <div class="userccount">
          <div *ngIf="SignUpDOne==true" class="alert alert-success">
            <strong>User Registered!</strong> LogIn to your account
          </div>
          <div *ngIf="StoreUpDOne==true" class="alert alert-success">
            <strong>Store Registered!</strong> Please Login with same credentials into seller's account
          </div>



          <h5 style="color:#ed2424; ">Login</h5>
          <!-- login form -->

          <div *ngIf="login_error==true" class="alert alert-danger">
            <strong>Error!</strong> Invalid Login Details
          </div>
          <!--<input type="text" class="form-control" style="margin-bottom: 15px; padding-right: 30px;  "  name="UserPriceBid" [(ngModel)]="model.Username" placeholder="Username" required>-->
          <!--<input type="Password" class="form-control" style="margin-bottom: 15px;"  name="UserPriceBid" [(ngModel)]="model.Password" placeholder="Password" required>-->
          <!--<button class="button pro-add-to-cart col-md-push-6 " (click)="loged_in()" title="Bid Now" type="button"><span> Login</span></button>-->
            <form role="form" class="login-form"  (ngSubmit)="f.form.valid && captcha && loged_in(username.value, password.value)" #f="ngForm" novalidate>

          <div class="formpanel">
            <div class="formrow">
              <div class="form-group label-overlay">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>

              </div><!-- End .form-group -->
            </div>
            <div class="formrow">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password"  #password="ngModel" required>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !captcha}">
              <re-captcha (resolved)="resolved($event)" siteKey="6LcMeE4UAAAAAORPbOfwjGczzxsz843f24BA92IN" required></re-captcha>
              <div *ngIf="f.submitted && !captcha" class="help-block">ReCaptcha is required</div>
              <!--[(ngModel)]="model.recaptcha" #recaptcha="ngModel"-->
            </div>
            </div>
            <div *ngIf="Waitcall" class="alert  alert-info">
              <p class="">
                <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>	&nbsp;  Loading ...</span>

              </p>
            </div>

            <input type="submit" class="btn" value="Login">

          </div>
          </form>
          <div class="formpanel">
          <div class="formrow">
            <p style="text-align: right !important; color: red !important;">
             <a [routerLink]="['/forget-password']" style="font-weight: 600"> Forgot Password ? </a>
            </p>
          </div>
          </div>


          <div *ngIf="user">

            <img src="{{ user.photoUrl }}">
            <div>
              <h4>{{ user.firstName }}</h4><br>
              <h4>{{ user.lastName }}</h4>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>

            <button class="btn btn-danger" (click)="signOut()">Sign out</button>

          </div>

          <!-- login form  end-->

          <!-- sign up form -->
          <div class="newuser"><i class="fa fa-user" aria-hidden="true"></i> New User? <a  [routerLink]="['/sign-up']">Register Here</a></div>

          <div *ngIf="!user">
            <div class="socialLogin">
              <h5>Login Or Register with Social</h5>
              <a (click)="signInWithFB()" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a (click)="signInWithGoogle()" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#." class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a> </div>

            <!--<button  (click)="signInWithFB()"><i class="fa fa-facebook"></i></button>-->
            <!--<button  (click)="signInWithGoogle()"><i class="fa fa-google-plus"></i></button>-->

          </div>
          <!-- sign up form end-->

          <!--<div class="socialLogin">-->
            <!--<h5>Login Or Register with Social</h5>-->
            <!--<a href="#." class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#." class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#." class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a> </div>-->
        <!--</div>-->

      </div>
        <br/>
        <br/>
        <br/>
    </div>
  </div>
</div>
</div>

<!--<app-footer></app-footer>-->
