.upload-img-wrapper {
    position: relative
}

input.upload-input {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    z-index: 99
}

.upload-cam-img {
    position: absolute;
    top: 30%;
    font-size: 75px;
    color: #000;
    left: 35%;
    cursor: pointer;
    display: none
}

.upload-img-wrapper:hover .upload-cam-img {
    display: block
}


.panel{

    margin-top: -50px!important

}

.panel-info2{
    margin-top: -8px!important;
}

.panel-heading2{
    margin-top: -20px!important;
    margin-right: 25px!important;
    margin-left: 25px!important;
    border-radius: 5px
}


.panel-size{

    width: 120%;
    margin-left: -90px;
}
