<app-header></app-header>

<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Dashboard</h1>
      </div>
      <div class="col-md-6 col-sm-6">


        <div class="breadCrumb ">
          <img class="breadimg" src="assets/images/faq-banner.png" alt="google ad"  width="70px" height="70px"> <br/>
          <span>Welcome {{ GetUSerDOne['Fname']}}</span>









        </div>




      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
          <li ><a [routerLink]="['/store', SessionstoreName]"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Visit my Store</a></li>
          <li ><a [routerLink]="['/select-category']"><i class="fa fa-plus-square-o" aria-hidden="true"></i>List An Item</a></li>
          <li class="active"><a [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>

          <li><a [routerLink]="['/pending-ad']"><i class="fa fa-check" aria-hidden="true"></i> My Pending Ads</a></li>
          <li><a [routerLink]="['/active-ad']"><i class="fa fa-check-square" aria-hidden="true"></i> My Active Ads</a></li>
          <li><a [routerLink]="['/my-bids']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li><a [routerLink]="['/seller-purchasing']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchases</a></li>
          <li><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> Feedback</a></li>
          <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> My Package</a></li>
          <li><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> Tags</a></li>
          <li><a [routerLink]="['/user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>
          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>

        </ul>
        <div class="adimages"> <img src="assets/assets2/images/large-ad.jpg" alt="google ad"> </div>
      </div>

      <div class="col-md-9 col-sm-8">
        <div *ngIf="NewPostcheck == true" class="alert alert-success">
          <strong>Product</strong> product successfully added to your shop
        </div>
        <ul class="row profilestat">
          <li class="col-md-2 col-sm-4 col-xs-6">
            <div class="inbox"> <i class="fa fa-eye" aria-hidden="true"></i>
              <h6>10</h6>
              <strong>Ad Views</strong> </div>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <div class="inbox"> <i class="fa fa-tachometer" aria-hidden="true"></i>
              <h6>2 <span>hr</span></h6>
              <strong>Respond Time</strong> </div>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <div class="inbox"> <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h6>10</h6>
              <strong>Ad Expire</strong> </div>
          </li>

          <li class="col-md-2 col-sm-4 col-xs-6">
            <div class="inbox"> <i class="fa fa-bullhorn" aria-hidden="true"></i>
              <h6>{{GetUSerOffer['results'].length}}</h6>
              <strong>Best Offers</strong> </div>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <div class="inbox"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <h6>8</h6>
              <strong>Messages</strong> </div>
          </li>



        </ul>

        <div class="main container">
          <div class="row">

            <div class="col-xs-10">
              <div class="page-content checkout-page">
                <div class="page-title">
                  <h2>Best Offers</h2>
                </div>

                <!--<h4 class="checkout-sep">Biding History</h4>-->
                <div class="box-border">
                  <div class="table-responsive">
                    <table class="table table-bordered cart_summary">
                      <thead>
                      <tr>
                        <th>Product ID</th>
                        <th>User Email</th>
                        <th>User Message</th>
                        <th>Qty</th>
                        <th>Offer Amount</th>
                        <th>Offer Date</th>
                        <th></th>

                      </tr>
                      </thead>
                      <tbody>

                      <ng-container  *ngFor="let abc of GetUSerOffer['results']; let i = index">
                        <tr>
                          <td> {{i+1}} <span style="color: red !important;">-</span> {{ abc.Product_Id}} <span style="color: red !important;"> <a style="color: red !important;" [routerLink]="['/single-product']" [queryParams]="{ ProID:  abc.Product_Id, CatName: abc.Cat_Name }"> View Ad </a></span></td>
                          <td>{{ abc.User_Id}}</td>
                          <td>  {{ abc.Message}}</td>
                          <td>  {{ abc.Qty}}</td>
                          <td>  {{ abc.Price}}</td>
                          <td>  {{ abc.CreatedDate.substr(0,10)}}</td>

                          <td> <button  class="button"><span>Accept</span></button>  <button  class="button"><span>Send an Email</span></button></td>


                        </tr>
                      </ng-container>
                      </tbody>
                      <tfoot>

                      <tr>


                      </tr>

                      </tfoot>
                    </table>
                  </div>

                </div>




              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
