<app-header></app-header>

<div class="how-it-works-wrapper1">
   <div class="container">
    <h1>How DHAAR Works</h1>
     <p>Dhaar is the first Desi Auction Marketplace. BID, COMPARE, BUY & SELL with a Roar! Open your own e-Commerce Store OR become a Private Online Seller. List your Services & Jobs. Dhaar was built from the grounds up with a singular goal: Provide an Artificially Intelligent e-Commerce Platform to connect Buyers with Sellers running on next generation Web, iOS & Android Mobile Apps. From a True Auction experience to Price Comparison to Reviews Aggregation/Crunching & a custom Dhaar Score of every Buyer, Seller and Product based on our custom Machine Learning Engine, Dhaar will assist the user through a trusted, neutral, unbiased, time and money saving e-Commerce/Auction experience. Bidding. Stuff. Services. Jobs. Offers. Counter-Offers. Dhaar is the Desi Auction Universe!</p>
   </div>
</div>

<div class="how-it-works-wrapper" >
  <div class="container">
    <div class="row">
      <div>
        <h2 class="heading-main" >DHAAR Experience For Buyers</h2>

      </div>
      <!--<h2 style="color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold; text-align: center; margin-top: 20px">DHAAR Experience For Buyers</h2>-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/create-gig.png" style="margin-bottom: 20px" >
          <h3>1. Registration</h3>
          <p> Get yourself registered and continue to shop as a Buyer.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/Search.png" style="margin-bottom: 20px">
          <h3>2. Find your product </h3>
          <p> Search or browse your desired product in DHAAR</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/get-paid.png" style="margin-bottom: 20px">
          <h3>3. Bid or Buy</h3>
          <p> Try to win Bid on products and Buy products online to shop. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <h2 class="heading-main" >DHAAR Experience For Sellers</h2>

      </div>
      <!--<h2 style="color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold; text-align: center">DHAAR Experience For Sellers</h2>-->

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/create-gig.png" style="margin-bottom: 20px">
          <h3>1. Registration</h3>
          <p>After registering yourself as a Buyer, You need to register yourself as a Seller</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <i class="fa fa-camera" style="font-size: 52px;color: gray;margin-bottom: 20px"></i>
          <h3>2. Sell on DHAAR</h3>
          <p>Post your product on DHAAR with two options available "BidNow" and "BuyNow"</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/payment.png" style="margin-bottom: 20px">
          <h3>3. Earn Money</h3>
          <p>Sell your products as much as you can to get more benefits.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/get-paid.png" style="margin-bottom: 20px">
          <h3>4. Bid or Buy</h3>
          <p> Try to win Bid on products and Buy products online to shop. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <h2 class="heading-main">Start Your Bidding & Buying Now</h2>
      </div>
    </div>
  </div>
</div>





<!--<app-footer></app-footer>-->
