<app-header></app-header>

<div class="how-it-works-wrapper1">
   <div class="container">
    <h1>How DHAAR Works</h1>
     <p>A Virtual place where you can buy and sell just about anything even when it isn’t readily available in any store locally.
       Customers are in love, and how could they not be? availability of items, advanced search & notification systems, variety of items, ease of purchase, secure transactional process and top it all off, user friendliness of the site is what Dhaar is all about!
       Dhaar has brought new economic opportunities to developing areas and increased cultural understanding between Pakistani population by 20% with its 20% off deals. What doesn’t connect communities better than cultural differences? Start shopping and bidding on products to symbolize the cultural similarities or better bask under the differences, either buying from Khaadi or your local hard-working and self-earning mother from Natiagali.
       Become a Dhaar ambassador in your own lives, Shop for great deals on your favorite items or to start turning your old junk into fresh cash.
       Buy, Sell or Bid on latest or used-but-functioning gadgets.</p>
   </div>
</div>

<div class="how-it-works-wrapper" >
  <div class="container">
    <div class="row">
      <div style="text-align: center; margin-bottom: 20px">
        <h2 class="btn btn-danger" style="margin-top:40px;height: 60px; color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold;  width: 470px; text-align: center" >DHAAR Experience For Buyers</h2>

      </div>
      <!--<h2 style="color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold; text-align: center; margin-top: 20px">DHAAR Experience For Buyers</h2>-->
      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left; margin-top: 20px;  margin-left: 90px; ">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/create-gig.png" style="margin-bottom: 20px" >
          <h3>1. Registration</h3>
          <p> Get yourself registered and continue to shop as a Buyer.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left; margin-left: 20px; margin-top: 20px">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/Search.png" style="margin-bottom: 20px">
          <h3>2. Find your product </h3>
          <p> Search or browse your desired product in DHAAR</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left; margin-top: 20px; margin-left: 20px;">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/get-paid.png" style="margin-bottom: 20px">
          <h3>3. Bid or Buy</h3>
          <p> Try to win Bid on products and Buy products online to shop. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div style="text-align: center; margin-bottom: 20px">
        <h2 class="btn btn-danger" style="margin-top:40px;height: 60px; color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold;  width: 470px; text-align: center" >DHAAR Experience For Sellers</h2>

      </div>
      <!--<h2 style="color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold; text-align: center">DHAAR Experience For Sellers</h2>-->

      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left;margin-top: 20px;">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/create-gig.png" style="margin-bottom: 20px">
          <h3>1. Registration</h3>
          <p>After registering yourself as a Buyer, You need to register yourself as a Seller</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left;margin-top: 20px;">
        <div class="how-it-works-box">
          <i class="fa fa-camera" style="font-size: 52px;color: gray;margin-bottom: 20px"></i>
          <h3>2. Sell on DHAAR</h3>
          <p>Post your product on DHAAR with two options available "BidNow" and "BuyNow"</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left;margin-top: 20px;">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/payment.png" style="margin-bottom: 20px">
          <h3>3. Earn Money</h3>
          <p>Sell your products as much as you can to get more benefits.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" style="float: left; margin-top: 20px;">
        <div class="how-it-works-box">
          <img src="../../assets/images/backcover.jpg/get-paid.png" style="margin-bottom: 20px">
          <h3>4. Bid or Buy</h3>
          <p> Try to win Bid on products and Buy products online to shop. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div style="text-align: center; margin-bottom: 20px">
        <a [routerLink]="['/']" class="btn btn-danger" style="margin-top:40px;height: 60px; color: white; background-color: #cc0000; border-radius: 5px; font-size: 27px; font-weight: bold;  width: 470px; text-align: center" >Start Your Bidding & Buying Now</a>

      </div>
    </div>
  </div>
</div>





<!--<app-footer></app-footer>-->
