#ribbon {
  padding: .34em 1em;
  margin-bottom: 3%;
  margin-top: 1%;
  position:relative;
  color: #ffffff;
  font: 32px 'Patua One', sans-serif;
  text-align: center;
  letter-spacing:0.1em;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
  inset 0px 0px 20px rgba(0,0,0,0.1),
  0px 1px 1px rgba(0,0,0,0.4);
  background: -webkit-linear-gradient(top,red, red);
  display: inline-block;
}

#ribbon:before, #ribbon:after {
  content: "";
  width:.2em;
  bottom:-.5em;
  position:absolute;
  display:block;
  border: .9em solid red;
  box-shadow:0px 1px 0px rgba(0,0,0,0.4);
  z-index:-2;
}

#ribbon:before {
  left:-1.35em;
  border-right-width: .75em;
  border-left-color:transparent;
}

#ribbon:after {
  right:-1.35em;
  border-left-width: .75em;
  border-right-color:transparent;
}

#content:before, #content:after {
  content:"";
  bottom:-.5em;
  position:absolute;
  display:block;
  border-style:solid;
  border-color: red transparent transparent transparent;
  z-index:-1;
}

#content:before {
  left: 0;
  border-width: .5em 0 0 .5em;
}

#content:after {
  right: 0;
  border-width: .5em .5em 0 0;
}




a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.nav-tabs {
  position: relative;
}
.nav-tabs > li:hover:after,
.nav-tabs .active:after{
  content: "";
  border-top: 10px solid red;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top:56px;
  right: 38%;
}
.nav-tabs > li > a{
  border-radius: 0px;
  background: #272d33;
  padding:10px 20px ;
  color:#fff;
}
.nav-tabs > li > a:hover{
  border-color:transparent;
  background: red;
  transition:0.3s ease;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  background:red;
  color:#fff;
}
@media only screen and (max-width: 360px){
  .nav-tabs > li > a{
    padding: 10px;
  }
}
