<!--<preloader-full></preloader-full>-->
<div id="page">

  <app-header></app-header>

<!--<div class="container">-->
  <div id="main-bg-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <label class="search-bg__title animated fadeInDown"> The Ultra-Cool, Super-Easy, Time & Money Saving e-Commerce App. The Next-Generation Artificially Intelligent Auction & Shopping Experience. SHOP with a ROAR!</label>
        <img src="../../assets/images/slider/5.png" alt="" />
      </div>

      <div class="item">
        <label class="search-bg__title animated fadeInUp"> Private Seller? Want to auction off your unused stuff in your Attic? Open a FREE Online Store on Dhaar and convert your Used Stuff into Cash Today!</label>
        <img src="../../assets/images/slider/1.png" alt="" />
      </div>
      <div class="item">
        <label class="search-bg__title animated fadeInUp"> Bidding. Stuff. Services. Jobs. Offers. Counter-Offers. The Dhaar MarketPlace has it all! </label>
        <img src="../../assets/images/slider/2.png" alt="" />
      </div>
      <div class="item">
        <label class="search-bg__title animated fadeInUp"> Dhaar Searches, Scores, Reviews and Compares all the Online Stores for ALL Products & Sellers so that YOU DON’T HAVE TO!</label>
        <img src="../../assets/images/slider/3.png" alt="" />
      </div>
      <div class="item">
        <label class="search-bg__title animated fadeInUp"> SHOP with a ROAR! On the Web and Mobile. Download our Next-Generation App at Google Play Store and Apple App Store</label>
        <img src="../../assets/images/slider/4.png" alt="" />
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#main-bg-slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-bg-slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<owl-carousel-->
        <!--[options]="{ slideBy : 1 ,margin :0, dots: true, loop: true, autoplay:true ,responsive: { '0': {  items: 1, margin: 5 }, '480': { items: 1,  margin: 5 },'640': { items: 1, margin: 0 }}}"-->
        <!--[carouselClasses]="['owl-theme', 'row', 'sliding']">-->
        <!--<div class="item" *ngFor="let image of images;let i = index">-->
        <!--<img [src]="image" alt="">-->
        <!--</div>-->
      <!--</owl-carousel>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="container">-->
    <!--<div class="row" style="text-align: center;">-->
      <!--<div id="ribbon">-->
        <!--<span id="content" style="font-weight: bolder">Categories</span>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <div class="container">
    <div class="homeSlider" style="display: block;">

      <div class="item" *ngFor="let category of GetallCat">
        <div class="image">
          <a [routerLink]="['/category-detail']" [queryParams]="{ CatName:  category.Cat_Name }">
            <img style="border: none" class="img" src="../../assets/images/{{category.Pic}}">
          </a>
        </div>
        <div class="slide-overlay">
          <h4 class="card-title">
            <a [routerLink]="['/category-detail']" [queryParams]="{ CatName:  category.Cat_Name }" style="color: white">{{ category.Cat_Name }}</a>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: -186px;">
    <div class="row">
      <div class="app-banners">
        <div class="col-sm-6">
        <a href='https://play.google.com/store/apps/details?id=com.brainplow.testing_project&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img alt='Get it on Google Play' src="../../assets/images/google-play-badge.png"/>
        </a>
        </div>
        <div class="col-sm-6">
        <a href='https://play.google.com/store/apps/details?id=com.brainplow.testing_project&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img alt='Get it on Google Play' src="../../assets/images/download.png"/>
        </a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<owl-carousel-->
        <!--[options]="{ slideBy : 1 ,margin :0, dots: true, loop: true, autoplay:true ,responsive: { '0': {  items: 1, margin: 5 }, '480': { items: 1,  margin: 5 },'640': { items: 6, margin: 0 }}}"-->
        <!--[carouselClasses]="['owl-theme', 'row', 'sliding']">-->
        <!--<div class="item" *ngFor="let image of categories;let i = index">-->
            <!--<a [routerLink]="['/category-detail']" [queryParams]="{ CatName:  image.name }"><img [src]="image.image" alt="">-->
           <!--<div class="cat-slider-set"><p>{{image.name}}</p></div></a>-->
        <!--</div>-->
      <!--</owl-carousel>-->
    <!--</div>-->
  <!--</div>-->
  <!-- End Main Slider Area -->

  <div class="container">
    <!-- service section -->
    <div class="jtv-service-area">
      <div class="row">
        <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
          <div class="block-wrapper ship">
            <div class="text-des"><i class="icon-rocket"></i>
              <h3>FREE SHIPPING & RETURN</h3>
              <p>All Over Pakistan.</p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
          <div class="block-wrapper return">
            <div class="text-des"><i class="fa fa-dollar"></i>
              <h3>MONEY BACK GUARANTEE</h3>
              <p>Never Compromise on Quality.</p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
          <div class="block-wrapper support">
            <div class="text-des"><i class="fa fa-headphones"></i>
              <h3>ONLINE SUPPORT 24/7</h3>
              <p>Five Star Support. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Home Tabs  -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#all2" aria-controls="home" role="tab" data-toggle="tab">Latest</a></li>
          <li role="presentation"><a href="#buynow" aria-controls="profile" role="tab" data-toggle="tab">Buy Now</a></li>
          <li role="presentation"><a href="#auction" aria-controls="messages" role="tab" data-toggle="tab">Auction</a></li>
          <li role="presentation"><a href="#featured" aria-controls="messages" role="tab" data-toggle="tab">Featured</a></li>
        </ul>
        <!--<div class="tab-info">-->
        <!--<div class="nav home-nav-tabs home-product-tabs">-->
        <!--<h3 class="new-product-title pull-left"><a href="#all2" data-toggle="tab"-->
        <!--aria-expanded="false">Latest</a></h3>-->
        <!--<h3 class="new-product-title pull-left" style="margin-left: 5%"><a href="#buynow" data-toggle="tab"-->
        <!--aria-expanded="false">Buy Now</a>-->
        <!--</h3>-->
        <!--<h3 class="new-product-title pull-left" style="margin-left: 5%"><a href="#auction" data-toggle="tab"-->
        <!--aria-expanded="false">Auction</a>-->
        <!--</h3>-->
        <!--<h3 class="new-product-title pull-left" style="margin-left: 5%"><a href="#featured" data-toggle="tab"-->
        <!--aria-expanded="false">Featured</a>-->
        <!--</h3>-->

        <!--</div>-->
        <!--&lt;!&ndash; /.nav-tabs &ndash;&gt;-->
        <!--</div>-->
        <div id="productTabContent2" class="tab-content">
          <div class="tab-pane active in" id="all2">
            <ng-container *ngFor="let TvVideoaudio88 of GetALLProductss.results">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <a [routerLink]="['/single-product']"
                       [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }"
                       class="product-item-photo"> <img class="product-image-photo" height="225"
                                                        src="{{TvVideoaudio88.Pic }}"
                                                        alt="{{TvVideoaudio88.Pic }}"></a>
                  </div>

                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                 [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">{{
                            TvVideoaudio88.P_Title }} </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating">

                            <p> Seller: <a [routerLink]="['/store',TvVideoaudio88.StoreName]">
                              {{TvVideoaudio88.StoreName}}</a></p>

                          </div>


                          <div *ngIf="TvVideoaudio88.Auction == true" class="item-price">

                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.SrartingPrice | number:'.0-0' }}</span> </span>
                            </div>


                          </div>
                          <div *ngIf="TvVideoaudio88.Auction == false" class="item-price">
                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.FixedPrice | number:'.0-0' }}</span> </span>
                            </div>
                          </div>


                        </div>


                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="TvVideoaudio88.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Bid Now</span></button>
                          </a>
                        </div>
                        <div *ngIf="TvVideoaudio88.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart"
                                    type="button" title="Add to Cart"><span>Buy Now</span></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>

          <div class="tab-pane fade" id="buynow">

            <ng-container *ngFor="let TvVideoaudio88 of GetALLBuyNowProductss.results">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <a [routerLink]="['/single-product']"
                       [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }"
                       class="product-item-photo"> <img class="product-image-photo" height="225"
                                                        src="{{TvVideoaudio88.Pic }}"
                                                        alt="{{TvVideoaudio88.Pic }}"></a>
                  </div>

                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                 [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">{{
                            TvVideoaudio88.P_Title }} </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating">

                            <p> Seller: <a [routerLink]="['/store', TvVideoaudio88.StoreName]">
                              {{TvVideoaudio88.StoreName}}</a></p>

                          </div>

                          <div *ngIf="TvVideoaudio88.Auction == true" class="item-price">

                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.SrartingPrice | number:'.0-0'}}</span> </span>
                            </div>

                          </div>
                          <div *ngIf="TvVideoaudio88.Auction == false" class="item-price">
                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.FixedPrice | number:'.0-0'}}</span> </span>
                            </div>
                          </div>


                        </div>


                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="TvVideoaudio88.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Bid Now</span></button>
                          </a>
                        </div>
                        <div *ngIf="TvVideoaudio88.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart"
                                    type="button" title="Add to Cart"><span>Buy Now</span></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>


          </div>

          <div class="tab-pane fade" id="auction">

            <ng-container *ngFor="let TvVideoaudio88 of GetALLAuctionProductss.results">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner" >
                  <div class="product-thumbnail">
                    <a [routerLink]="['/single-product']"
                       [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }"
                       class="product-item-photo"> <img class="product-image-photo" height="225"
                                                        src="{{TvVideoaudio88.Pic }}"
                                                        alt="{{TvVideoaudio88.Pic }}"></a>
                  </div>

                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                 [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">{{
                            TvVideoaudio88.P_Title }} </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating">

                            <p> Seller: <a [routerLink]="['/store', TvVideoaudio88.StoreName]">
                              {{TvVideoaudio88.StoreName}}</a></p>

                          </div>

                          <div *ngIf="TvVideoaudio88.Auction == true" class="item-price">

                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.SrartingPrice | number:'.0-0'}}</span> </span>
                            </div>

                          </div>
                          <div *ngIf="TvVideoaudio88.Auction == false" class="item-price">
                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.FixedPrice | number:'.0-0'}}</span> </span>
                            </div>
                          </div>


                        </div>


                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="TvVideoaudio88.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Bid Now</span></button>
                          </a>
                        </div>
                        <div *ngIf="TvVideoaudio88.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart"
                                    type="button" title="Add to Cart"><span>Buy Now</span></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>


          </div>
          <div class="tab-pane fade" id="featured">

            <ng-container *ngFor="let TvVideoaudio88 of GetALLFeaturedProductss.results">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner" >
                  <div class="product-thumbnail">
                    <a [routerLink]="['/single-product']"
                       [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }"
                       class="product-item-photo"> <img class="product-image-photo" height="225"
                                                        src="{{TvVideoaudio88.Pic }}"
                                                        alt="{{TvVideoaudio88.Pic }}"></a>

                  </div>

                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                 [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">{{
                            TvVideoaudio88.P_Title }} </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                            class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                          </div>

                          <div *ngIf="TvVideoaudio88.Auction == true" class="item-price">

                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.MaxBidPrice | number:'.0-0'}}</span> </span>
                            </div>

                          </div>
                          <div *ngIf="TvVideoaudio88.Auction == false" class="item-price">
                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.FixedPrice | number:'.0-0' }}</span> </span>
                            </div>
                          </div>


                        </div>


                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="TvVideoaudio88.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Bid Now</span></button>
                          </a>
                        </div>
                        <div *ngIf="TvVideoaudio88.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart"
                                    type="button" title="Add to Cart"><span>Buy Now</span></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>


          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- Home Tabs  -->

        <ul class="nav nav-tabs" role="tablist">
          <li style="width: 16.666%" role="presentation" class="active"><a href="#phonetablet" aria-controls="home" role="tab" data-toggle="tab">Phones & Tablets</a></li>
          <li style="width: 16.666%" role="presentation"><a href="#womenfashion" aria-controls="profile" role="tab" data-toggle="tab">Women's Fashion</a></li>
          <li style="width: 16.666%" role="presentation"><a href="#menfashion" aria-controls="messages" role="tab" data-toggle="tab">Men's Fashion</a></li>
          <li style="width: 16.666%" role="presentation"><a href="#tvaudiovideo" aria-controls="messages" role="tab" data-toggle="tab">TV, Audio & Video</a></li>
          <li style="width: 16.666%" role="presentation"><a href="#computinglaptop" aria-controls="messages" role="tab" data-toggle="tab">Computing & Laptops</a></li>
          <li style="width: 16.666%" role="presentation"><a href="#homeappliances" aria-controls="messages" role="tab" data-toggle="tab">Home Appliances</a></li>
        </ul>
        <!--<div class="tab-info">-->
        <!--<div class="nav home-nav-tabs home-product-tabs">-->
        <!--<h3 class="new-product-title pull-left"><a href="#phonetablet" data-toggle="tab"-->
        <!--aria-expanded="false">Phones & Tablets</a></h3>-->
        <!--<h3 class="new-product-title pull-left" style="margin-left: 5%"><a href="#fashion" data-toggle="tab"-->
        <!--aria-expanded="false">Fashion</a>-->
        <!--</h3>-->
        <!--<h3 class="new-product-title pull-left" style="margin-left: 5%"><a href="#Electronics"-->
        <!--data-toggle="tab"-->
        <!--aria-expanded="false">Electronics</a>-->
        <!--</h3>-->

        <!--</div>-->
        <!--</div>-->
        <div id="productTabContent" class="tab-content">
          <div class="tab-pane active in" id="phonetablet">
            <ng-container *ngFor="let phoneProducts of GetallPhoneProduct">
              <ng-container *ngIf="phoneProducts.Active">
                <div class="product-item col-md-3 col-sm-6">
                  <div class="item-inner">
                    <div class="product-thumbnail">
                      <div class="slider-items-products">
                        <div id="pro2-slider1" class="product-flexslider hidden-buttons">
                          <div class="slider-items slider-width-col6">

                            <a [routerLink]="['/single-product']"
                               [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }"
                               class="product-item-photo"> <img class="product-image-photo" height="225"
                                                                src="{{phoneProducts.Pic }}"
                                                                alt="{{phoneProducts.Pic }}"></a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                   [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">{{
                              phoneProducts.P_Title }} </a></h4>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <p> Seller: <a [routerLink]="['/store',phoneProducts.StoreName]">
                                {{phoneProducts.StoreName}}</a></p>


                            </div>
                            <div *ngIf="phoneProducts.Auction == true" class="item-price">

                              <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ phoneProducts.SrartingPrice | number:'.0-0' }}</span> </span>
                              </div>


                            </div>
                            <div *ngIf="phoneProducts.Auction == false" class="item-price">
                              <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ phoneProducts.FixedPrice | number:'.0-0' }}</span> </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div *ngIf="phoneProducts.Auction == true" class="pro-actions">
                            <a [routerLink]="['/single-product']"
                               [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">
                              <button class="action add-to-cart" type="button" title="Add to Cart">
                                <span>Bid Now</span></button>
                            </a>
                          </div>
                          <div *ngIf="phoneProducts.Auction == false" class="pro-actions">
                            <a [routerLink]="['/single-product']"
                               [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">
                              <button class="action add-to-cart" type="button" title="Add to Cart">
                                <span>Buy Now</span></button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="tab-pane fade" id="fashion">

            <ng-container *ngFor="let phoneProducts of getFashionProduct.results">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <div class="slider-items-products">
                      <div id="pro2-slider12" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6">


                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }"
                             class="product-item-photo"> <img class="product-image-photo" height="225"
                                                              src="{{phoneProducts.Pic }}"
                                                              alt="{{phoneProducts.Pic }}"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                 [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">{{
                            phoneProducts.P_Title }} </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating">
                            <p> Seller: <a [routerLink]="['/store', phoneProducts.StoreName]">
                              {{phoneProducts.StoreName}}</a></p>

                          </div>
                          <div *ngIf="phoneProducts.Auction == true" class="item-price">

                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ phoneProducts.SrartingPrice | number:'.0-0' }}</span> </span>
                            </div>


                          </div>
                          <div *ngIf="phoneProducts.Auction == false" class="item-price">
                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ phoneProducts.FixedPrice | number:'.0-0' }}</span> </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="phoneProducts.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Bid Now</span></button>
                          </a>
                        </div>
                        <div *ngIf="phoneProducts.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Buy Now</span></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
          <div class="tab-pane fade" id="Electronics">
            <ng-container *ngFor="let TvVideoaudio88 of getcomputinglaptopsproduct8">
              <div class="product-item col-md-3 col-sm-6">
                <div class="item-inner">
                  <div class="product-thumbnail">
                    <a [routerLink]="['/single-product']"
                       [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }"
                       class="product-item-photo"> <img class="product-image-photo" height="225"
                                                        src="{{ TvVideoaudio88.Pic }}"
                                                        alt="{{ TvVideoaudio88.Pic }}"></a>
                  </div>

                  <div class="pro-box-info">
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                 [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">{{
                            TvVideoaudio88.P_Title }} </a></h4>
                        </div>
                        <div class="item-content">
                          <div class="rating">
                            <p> Seller: <a [routerLink]="['/store', TvVideoaudio88.StoreName]">
                              {{TvVideoaudio88.StoreName}}</a></p>

                          </div>

                          <div *ngIf="TvVideoaudio88.Auction == true" class="item-price">

                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.SrartingPrice | number:'.0-0' }}</span> </span>
                            </div>


                          </div>
                          <div *ngIf="TvVideoaudio88.Auction == false" class="item-price">
                            <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ TvVideoaudio88.FixedPrice | number:'.0-0' }}</span> </span>
                            </div>
                          </div>


                        </div>


                      </div>
                    </div>
                    <div class="box-hover">
                      <div class="product-item-actions">
                        <div *ngIf="TvVideoaudio88.Auction == true" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button class="action add-to-cart" type="button" title="Add to Cart">
                              <span>Bid Now</span></button>
                          </a>
                        </div>
                        <div *ngIf="TvVideoaudio88.Auction == false" class="pro-actions">
                          <a [routerLink]="['/single-product']"
                             [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name }">
                            <button onclick="location.href='shopping_cart.html'" class="action add-to-cart"
                                    type="button" title="Add to Cart"><span>Buy Now</span></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="home-tab">
        <div class="container">
          <div class="row">
            <owl-carousel [options]="{ slideBy : 1 ,margin :14, dots: true, loop: true, autoplay:true ,responsive: { '0': {  items: 1, margin: 5 }, '480': { items: 1,  margin: 5 },'640': { items: 4, margin: 5 }}}"
                          [items]="GetallPhoneProduct"
                          [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="item" *ngFor="let phoneProducts of GetallPhoneProduct">
                <div class="client-item-wrapper">
                <div class="product-item col-md-12 col-sm-12">
                  <div class="item-inner">
                    <div class="product-thumbnail">

                      <div class="slider-items-products">
                        <div class="product-flexslider hidden-buttons">
                          <div class="slider-items slider-width-col6">

                            <a [routerLink]="['/single-product']"
                               [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }"
                               class="product-item-photo"> <img class="product-image-photo" height="225"
                                                                src="{{ phoneProducts.Pic }}"
                                                                alt="{{ phoneProducts.Pic }}"></a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-box-info">
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <h4><a title="Product Title Here" [routerLink]="['/single-product']"
                                   [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">{{
                              phoneProducts.P_Title }} </a></h4>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <p> Seller: <a [routerLink]="['/store',phoneProducts.StoreName]">
                                {{phoneProducts.StoreName}}</a></p>


                            </div>
                            <div *ngIf="phoneProducts.Auction == true" class="item-price">

                              <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ phoneProducts.SrartingPrice | number:'.0-0' }}</span> </span>
                              </div>


                            </div>
                            <div *ngIf="phoneProducts.Auction == false" class="item-price">
                              <div class="price-box"><span class="regular-price"> <span class="price">Rs {{ phoneProducts.FixedPrice | number:'.0-0' }}</span> </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box-hover">
                        <div class="product-item-actions">
                          <div *ngIf="phoneProducts.Auction == true" class="pro-actions">
                            <a [routerLink]="['/single-product']"
                               [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">
                              <button class="action add-to-cart" type="button" title="Add to Cart">
                                <span>Bid Now</span></button>
                            </a>
                          </div>
                          <div *ngIf="phoneProducts.Auction == false" class="pro-actions">
                            <a [routerLink]="['/single-product']"
                               [queryParams]="{ ProID:  phoneProducts.ProductID, CatName: phoneProducts.Cat_Name }">
                              <button class="action add-to-cart" type="button" title="Add to Cart">
                                <span>Buy Now</span></button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </owl-carousel>

          </div>
        </div>



        <!-- Offer banner -->
        <div class="container">
          <div class="row">
            <div class="offer-add">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="jtv-banner-box banner-inner">
                  <div class="image"><a class="jtv-banner-opacity" href="#"><img src="../../assets/images/4-min.png"
                                                                                 alt=""></a></div>
                  <div class="jtv-content-text">
                    <h3 class="title">Buy 2 items</h3>
                    <span class="sub-title">get one for free!</span><a href="#" class="button">Shop now!</a></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="jtv-banner-box banner-inner">
                  <div class="image"><a class="jtv-banner-opacity" href="#"><img src="../../assets/images/2-min.png"
                                                                                 alt=""></a></div>
                  <div class="jtv-content-text hidden">
                    <h3 class="title">New Arrival</h3>
                  </div>
                </div>
                <div class="jtv-banner-box banner-inner">
                  <div class="image "><a class="jtv-banner-opacity" href="#"><img src="../../assets/images/3-min.png"
                                                                                  alt=""></a></div>
                  <div class="jtv-content-text">
                    <h3 class="title">shoes</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="jtv-banner-box">
                  <div class="image"><a class="jtv-banner-opacity" href="#"><img src="../../assets/images/1-min.png"
                                                                                 alt=""></a></div>
                  <div class="jtv-content-text">
                    <h3 class="title">perfect light </h3>
                    <span class="sub-title">on brand-new models</span> <a href="#" class="button">Buy Now</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  <!--<app-footer></app-footer>-->
</div>



