#ribbon {
  padding: .34em 1em;
  /*margin-bottom: 3%;*/
  /*margin-top: 1%;*/
  width: 85%;
  margin: 0 auto;
  margin-bottom: 45px;
  position:relative;
  color: #ffffff;
  font: 32px 'Patua One', sans-serif;
  text-align: center;
  letter-spacing:0.1em;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
  inset 0px 0px 20px rgba(0,0,0,0.1),
  0px 1px 1px rgba(0,0,0,0.4);
  background: -webkit-linear-gradient(top,red, red);
}

#ribbon:before, #ribbon:after {
  content: "";
  width:.2em;
  bottom:-.5em;
  position:absolute;
  display:block;
  border: .9em solid red;
  box-shadow:0px 1px 0px rgba(0,0,0,0.4);
  z-index:-2;
}

#ribbon:before {
  left:-1.35em;
  border-right-width: .75em;
  border-left-color:transparent;
}

#ribbon:after {
  right:-1.35em;
  border-left-width: .75em;
  border-right-color:transparent;
}

#content:before, #content:after {
  content:"";
  bottom:-.5em;
  position:absolute;
  display:block;
  border-style:solid;
  border-color: red transparent transparent transparent;
  z-index:-1;
}

#content:before {
  left: 0;
  border-width: .5em 0 0 .5em;
}

#content:after {
  right: 0;
  border-width: .5em .5em 0 0;
}




a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.nav-tabs {
  position: relative;
}
.nav-tabs > li:hover:after,
.nav-tabs .active:after{
  content: "";
  border-top: 10px solid red;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top:56px;
  right: 38%;
}
.nav-tabs > li > a{
  border-radius: 0px;
  background: #272d33;
  color:#fff;
}
.nav-tabs > li > a:hover{
  border-color:transparent;
  background: red;
  transition:0.3s ease;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  background:red;
  color:#fff;
}
@media only screen and (max-width: 360px){
  .nav-tabs > li > a{
    padding: 10px;
  }
}












.nav1{padding-left:0;margin-bottom:0;list-style:none}
.nav1 > li{position:relative;display:block}
.nav1 > li > a{position:relative;display:block;padding:10px 15px}
.nav1 > li > a:focus, .nav1 > li > a:hover{text-decoration:none;background-color:#eee}
.nav1 > li.disabled > a{color:#777}
.nav1 > li.disabled > a:focus, .nav > li.disabled > a:hover{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}
.nav1 .open > a, .nav1 .open > a:focus, .nav1 .open > a:hover{background-color:#eee;border-color:#337ab7}
.nav1 > li > a > img{max-width:none}
.nav-tabs1{border-bottom:1px solid #e0e0e0}
.nav-tabs1 > li{float:left;margin-bottom:-1px; font-size: 16px;width: 25%}
.nav-tabs1 > li > a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}
.nav-tabs1 > li > a:hover{border-color:#eee #eee #ddd}
.nav-tabs1 > li.active > a, .nav-tabs1 > li.active > a:focus, .nav-tabs1 > li.active > a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #e0e0e0;border-bottom-color:transparent}







.nav-tabs1 {
  position: relative;
}
.nav-tabs1 > li:hover:after,
.nav-tabs1 .active:after{
  content: "";
  border-top: 10px solid red;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top:44px;
  right: 38%;
}
.nav-tabs1 > li > a{
  border-radius: 0px;
  background: #272d33;
  color:#fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nav-tabs1 > li > a:hover{
  border-color:transparent;
  background: red;
  transition:0.3s ease;
}
.nav-tabs1 > li.active > a,
.nav-tabs1 > li.active > a:focus,
.nav-tabs1 > li.active > a:hover{
  background:red;
  color:#fff;
}
@media only screen and (max-width: 360px){
  .nav-tabs1 > li > a{
    padding: 10px;
  }
}



























