<app-header></app-header>

<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Dashboard</h1>
      </div>
      <div class="col-md-6 col-sm-6">


        <div class="breadCrumb ">
          <ng-container *ngIf="GetUSerDOne !== null">
            <img *ngIf="GetUSerDOne['Pic'] !== ''"  class="breadimg" src="{{PicServrUrl + GetUSerDOne['Pic']}}" alt=""  width="70px" height="70px"> <br/>
            <img *ngIf="GetUSerDOne['Pic'] === ''" class="breadimg" src="assets/images/defaultprofile.jpg" alt=""  width="70px" height="70px"> <br/>
          <span *ngIf="ValueRec == true">Welcome {{ GetUSerDOne['Fname']}}</span>

          </ng-container>


        </div>




      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <ul class="usernavdash">
          <li class="active"><a [routerLink]="['/buyer-dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
          <li><a [routerLink]="['/my-bids-buyer']"><i class="fa fa-laptop" aria-hidden="true"></i> My Bids</a></li>
          <li ><a [routerLink]="['/buyer-orders']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Purchases</a></li>
          <li><a [routerLink]="['/store-registration']"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sell with Dharr.pk</a></li>
          <li><a [routerLink]="['/user-detail']"><i class="fa fa-user" aria-hidden="true"></i> My Details</a></li>
          <li><a [routerLink]="['/account-setting']"><i class="fa fa-lock" aria-hidden="true"></i> Account Setting</a></li>

          <li ><a [routerLink]="['/login']" [queryParams]="{ Logout:'yes'}" (click)="clearSessionstoreage()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>

        </ul>
        <div class="adimages"> <img src="assets/assets2/images/large-ad.jpg" alt="google ad"> </div>
      </div>

        <div class="col-md-9 col-sm-8">
          <ng-container *ngIf="GetUSerDOne !== null">
          <div *ngIf="GetUSerDOne['Complete'] === false"  class="alert alert-info">
            Profile Incomplete Spend 2 minutes to complete. <a style="color: red !important;" [routerLink]="['/user-detail']">Go to Porfile Section</a>
          </div>
          </ng-container>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad" >


            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">My details</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <ng-container *ngIf="GetUSerDOne !== null">
                  <div *ngIf="GetUSerDOne['Pic'] !== ''" class="col-md-4 col-lg-4 " align="center"> <img alt="User Pic" src="{{PicServrUrl + GetUSerDOne['Pic']}}" width="200" height="200"  class="img-circle img-responsive"> </div>
                  <div *ngIf="GetUSerDOne['Pic'] === ''" class="col-md-4 col-lg-4 " align="center"> <img alt="User Pic" src="assets/images/defaultprofile.jpg" width="200" height="200"  class="img-circle img-responsive"> </div>
                  <div class=" col-md-8 col-lg-8 ">
                    <table class="table table-user-information">
                      <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>{{GetUSerDOne['Fname'] +' '+ GetUSerDOne['Lname'] }}</td>
                      </tr>
                      <tr>
                        <td>Mobile:</td>
                        <td>{{GetUSerDOne['Mobile']}}</td>
                      </tr>
                      <tr>
                        <td>Address:</td>
                        <td>{{GetUSerDOne['Address']}}</td>
                      </tr>

                      <tr>
                      <tr>
                        <td>City:</td>
                        <td>{{ GetUSerDOne['City'] +' ' +GetUSerDOne['Zip'] }}</td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td>{{GetUSerDOne['State'] }} </td>
                      </tr>
                      <tr>
                        <td>Country</td>
                        <td>{{GetUSerDOne['Country'] }}</td>
                      </tr>


                      </tbody>
                    </table>


                  </div>
                  </ng-container>
                </div>
              </div>
              <div class="panel-footer">
                <a [routerLink]="['/user-detail']" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>-->
                <span class="pull-right">
                         </span>
              </div>

            </div>
          </div>

        </div>
        <!--<div class="myads">-->
          <!--<h3>Incomplete Ads </h3>-->
          <!--<p>No ads Found </p>-->
          <!--<ul class="searchList">-->
            <!--&lt;!&ndash; ad start &ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-2 col-sm-4">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="adimg"><img src="assets/assets2/images/ads/01.jpg" alt="Ad Name"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-10 col-sm-8">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="jobinfo">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="col-md-8 col-sm-7">&ndash;&gt;-->
                        <!--&lt;!&ndash;<h3><a href="#.">Nikon Camera DSLR</a></h3>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="cateName"> <a href="#.">Cars</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#.">Toyota</a> </div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New York</span></div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel dignissim tellus...</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="listbtn"><a href="#.">View Details</a></div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="col-md-4 col-sm-5 text-right">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="adprice">$456.00</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="#" class="editad"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this ad</a> </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash; ad end &ndash;&gt;-->

            <!--&lt;!&ndash; ad start &ndash;&gt;-->

            <!--&lt;!&ndash; ad end &ndash;&gt;-->
          <!--</ul>-->
        <!--</div>-->

    </div>
  </div>
</div>


<app-footer></app-footer>
